[2017-04-08 10:27] ychost opened #2 "Running Wire backend independently"
i am in China,because of the GFW, the speed is very slow, i want change the server to local. how can i do this thanks.

[2017-04-10 02:39] kelvinji2009 commented on #2
@ychost Please do not ask the question which is unmeaning.

[2017-04-14 19:20] 001101 opened #3 "bin and docs"
**ARE MISSING**

[2017-05-12 07:21] david-wire commented on #3
Yes, we are aware of that. This will be made available at some point, so please stay tuned.

[2017-05-15 19:52] rugk opened #10 "Downloading nginx without verification"
Do you believe it is a good idea [to download nginx](https://github.com/wireapp/wire-server/blob/develop/services/nginz/Makefile#L76) over an (insecure) HTTP connection and compile it without any verification?
At least this is what I see there. No gpg verification…

At least switching to HTTPS is easy as the nginx site nowadays [uses HTTPS](https://nginx.org/download/). However, I'd better recomme

[2017-05-16 15:38] #10 closed

[2017-05-16 15:42] jschaul commented on #10
Thanks for bringing up this issue.

[2017-05-17 21:38] 001101 commented on #3
in this stage it is nothing but some fragments from proprietary software

[2017-05-24 13:42] avently opened #16 "Federated version of Wire"
I wrote this issue just for future. One day you will want to make federated version of Wire. That day will be added to history of the private communication.
But for now maybe you want to track your progress or to ask people about their vision on Wire's federated version.

I think you have good examples but not so private and anonymous as we want to have. So Wire will be first.

[2017-05-24 16:13] david-wire commented on #16
Thanks for the note.

As usual when we introduce new features and updates, we will make announcements on our channels:
https://medium.com/@wireapp and https://medium.com/@wireupdates.

[2017-06-01 01:41] umpc commented on #2
@ychost They do not have a version that you can download. This was answered a few days ago in issue #16 by someone who used different phrasing for their question.

[2017-06-25 13:09] weiganri opened #27 "Documentation"
Is there any documentation that explains how to install the wire application on my own server?

[2017-06-26 15:43] marcoconti83 commented on #27
Hi @weiganri ,
Thanks for getting in touch.

Wire doesn't currently have a stand-alone server version that can be deployed on your own infrastructure. We have plans to make it available at some point, so please stay tuned.

As usual when we introduce new features and updates, we will make announcements on our channels:
https://medium.com/@wireapp and https://medium.com/@wireupdates.

[2017-06-26 15:43] marcoconti83 commented on #16
Hi @avently  ,
Thanks for getting in touch.

Wire doesn't currently have a stand-alone server version that can be deployed on your own infrastructure. We have plans to make it available at some point, so please stay tuned.

[2017-06-26 15:45] marcoconti83 commented on #3
Hi @001101 ,
Thanks for getting in touch.

We are currently in the process of porting our services to this repository; it's an ongoing process.

Wire doesn't currently have a binary that can be deployed on your own infrastructure. We have plans to make it available at some point, so please stay tuned.

As usual when we introduce new features and updates, we will make announcements on our channels:

[2017-06-26 15:46] marcoconti83 commented on #2
Hi @ychost  ,
Thanks for getting in touch.

Wire doesn't currently have a stand-alone server version that can be deployed on your own infrastructure. We have plans to make it available at some point, so please stay tuned.

As usual when we introduce new features and updates, we will make announcements on our channels:
https://medium.com/@wireapp and https://medium.com/@wireupdates.

[2017-06-26 15:49] marcoconti83 commented on #27
There is a similar issue opened here: https://github.com/wireapp/wire-server/issues/2

As it's easy to track it on one issue, I will close this one as a duplicate. Please refer to the other issue for updates.

Thanks!

[2017-06-26 15:49] #27 closed

[2017-06-26 15:49] marcoconti83 commented on #16
There is a similar issue opened here: https://github.com/wireapp/wire-server/issues/2

As it's easy to track this on a single issue, I will close this one as a duplicate. Please refer to the other issue for updates.

Thanks!

[2017-06-26 15:49] #16 closed

[2017-06-26 15:49] marcoconti83 commented on #3
There is a similar issue opened here: https://github.com/wireapp/wire-server/issues/2

As it's easy to track this on a single issue, I will close this one as a duplicate. Please refer to the other issue for updates.

Thanks!

[2017-06-26 15:49] #3 closed

[2017-07-09 07:51] shahzaib414 commented on #2
hey can you provide me documentation. How can i setup my own Wire Server

[2017-08-19 04:23] incubus8 commented on #2
@marcoconti83 i am so curious how can I run this repo in my local MacOS. seems like a lot of dependencies are needed.

[2017-09-05 12:08] shinexia opened #53 "`makedeb` command Not Found"
thanks for your selfless sharing. I'm learning haskell and find this project. when i tried to install makedeb, i found the link https://github.com/twittner/makedeb is no longer exists, is there another place could get it?

[2017-09-05 12:25] jschaul commented on #53
The `makedeb` project can be found under `tools/makedeb` in this same repository: https://github.com/wireapp/wire-server/tree/develop/tools/makedeb - note that you only need this in case you wish to create debian packages.

Out of curiosity, where did you find the (now outdated) link https://github.com/twittner/makedeb, so we can potentially update it?

[2017-09-06 01:01] shinexia commented on #53
thx, the link is : https://github.com/wireapp/cryptobox-c#Package

[2017-09-06 09:17] jschaul commented on #53
Thanks, the README of cryptobox-c has been updated.

[2017-09-06 09:17] #53 closed

[2017-09-19 12:08] teller commented on #2
An update on this https://medium.com/@wireapp/wire-server-code-now-100-open-source-the-journey-continues-88e24164309c

[2017-09-19 13:06] umpc commented on #2
Thank you! That is great!

[2017-09-19 13:13] storrgie opened #68 "Docker as a Distribution Dependency?"
It's a bit hard to ascertain the intent for _release_ from the existing code-base, but I wanted to make the inquiry about it:

This is highly preferential, but it would be really great to be able to consume the services as a bundle or as separately built components in their built form as just an archive (e.g. tar.gz, xz), so that downstream distributions can work on packaging it appropriately.

Do

[2017-09-19 16:22] NexFive opened #70 "Will there be instructions?"
Hello! Will there be installation instructions for the wire server on ubuntu?

[2017-09-20 09:38] FihlaTV commented on #70
I tried by installing  Haskell, Stack and ghc, but when I run stack build I am stuck in lib/ types-common-journal in ubuntu

[2017-09-20 18:08] tiago-loureiro commented on #70
Thanks for your interested in the wire-server!

We are currently in the process of making such documentation available but it's still a work in progress.

You can have a look at https://github.com/wireapp/wire-server/tree/develop/build/alpine where you can find out how to create docker images for all the services.

In case you want to venture a bit and use `stack` (we are using version 1.5.1), you

[2017-09-23 18:32] Nemra1 opened #78 "wher is wire admin panel"
i want start to work with wire platform but i need to know whers wire admin panel after setup wire server?

[2017-09-23 19:31] incubus8 commented on #70
@tiago-loureiro is there any working docker compose setup other than just Dockerfile?

[2017-09-23 20:57] NexFive commented on #70
не понял вас

2017-09-23 22:31 GMT+03:00 ☁ Rheza Satria <notifications@github.com>:

[2017-09-23 20:57] NexFive commented on #70
there are people who can install wire on my server?

2017-09-23 23:56 GMT+03:00 Анатолий Горбань <anatolygorban3@gmail.com>:

[2017-09-25 13:20] Evoludo commented on #78
Hi @Nemra1,

Thanks for your interest! We don't currently have an admin panel for use with the services in this repo. We're currently working on on improved tooling so that you can run your own wire server in future, but we're not quite there yet. Keep an eye on this repo for updates!

Andrew,
Backend Team, Wire

[2017-09-25 13:20] #78 closed

[2017-09-29 09:44] jschaul commented on #68
Hi @storrgie,

Thanks for your interest in wire-server.

As [mentioned](https://github.com/wireapp/wire-server#roadmap), we are planning to provide information on how to build and run wire-server - this will still take some time, mainly because wire-server depends on a range of external services (as can be seen in the `External` part of the [deployment diagram](https://raw.githubusercontent.com/wi

[2017-09-29 09:45] #68 closed

[2017-09-29 17:39] storrgie commented on #68
@jschaul your last statement:

Is what I was looking for. I'd much prefer this be released in a fashion that allows for Linux distributions to maintain downstream packages. Sounds like this is what you're planning to do.

[2017-10-01 12:45] Nemra1 commented on #27
wire server doc website is down..any mirror pls?

[2017-10-01 12:57] Nemra1 opened #79 "any mirror for setup wire server Documentation ?"
i need to start setup wire server but the website Documentation is down
https://medium.com/@wireapp/

[2017-10-03 05:39] imanodaysoffdotcom opened #80 "ETA on instructions?"
First off GREAT work. Will there be an ETA on when we can expect the full instructions/documentation. Curious and excited to setup a standalone server and clients.

[2017-10-04 11:30] Nemra1 commented on #2
medium.com is down guys..im lost here

[2017-10-04 11:44] teller commented on #2
Just checked, Medium works just fine. Blocked in your country?

Short story: You can't self host yet.

[2017-10-04 12:18] Nemra1 commented on #2
@teller so ..if i cant setup wire server on my vps server ) what is the point from wire server source code if we cant used him???

[2017-10-04 13:58] storrgie commented on #2
@Nemra1 quit being abusive. Wait and watch the repository for the developers to _actually_ release this work.

[2017-10-04 14:05] Nemra1 commented on #2
@storrgie no abusive in my words..just looking for some missing elements here and frist and important thing ...we need documentation bcs not All people Experts ..we need road map and learning

[2017-10-04 14:06] storrgie commented on #2
Set your status for this repo to watch

[2017-10-04 14:47] teller commented on #2
@Nemra1 The initial goal with releasing the code is transparency - so that people can verify that our privacy claims in fact hold true.

The next step is working on making the server self-hostable. As said in the blog post this is a significant project and will take time. @storrgie 's recommendation is a good one - just watch the repo and/or this thread.

[2017-10-04 14:51] incubus8 commented on #2
@teller yes I watched this repoo 💯
Buttt even better if you can give us schedule pleaseee? It shows real **commitment** from wire.

Having said that, thanks a lot for making it open source!! You guys amazing 👍

[2017-10-04 14:59] umpc commented on #2
It takes a lot of effort to clean up a project that wasn’t destined to be open source to begin with.

I doubt they have a solid schedule, and even so, it is not going to be their top priority.

I appreciate their effort to allow self-hosting. I hope that they take as long as they need to make it correct to their standards.

[2017-10-05 20:51] storrgie commented on #2
I'll echo that I'd like to see them do it at a pace that is comfortable for the team in terms of getting the features they've already developed in the open. There are others playing in this space now, wire has a place, but it's best gained by attaining a state where people can use it comfortably... which means this repository needs to mature comfortably.

[2017-10-06 09:50] tiago-loureiro commented on #80
Hi @imanodaysoffdotcom, thank you for your interest!

We don't have an exact ETA for the instructions/documentation but some of it has been discussed in [this issue](https://github.com/wireapp/wire-server/issues/70). We will use that issue to track our progress with the instructions and documentation.

[2017-10-06 09:50] #80 closed

[2017-10-06 09:53] tiago-loureiro commented on #79
Hi @Nemra1,
The location that you have mentioned is up but relates only to announcements.
For some documentation and instructions on how to build wire server, please have a look at:
https://github.com/wireapp/wire-server/blob/develop/README.md
and
https://github.com/wireapp/wire-server/blob/develop/build/alpine/README.md

[2017-10-06 09:53] #79 closed

[2017-11-03 15:45] dnkls opened #110 "Installation"
Hello world
Where i can find install instructions? All news about wire self hosted server but cant find instructions(

[2017-11-03 23:42] dnkls commented on #70
try install in Debian

`* Missing C library: snappy
    This problem can usually be solved by installing the system package that
    provides this library (you may need the "-dev" version). If the library is
    already installed but in a non-standard location then you can use the flags
    --extra-include-dirs= and --extra-lib-dirs= to specify where it is.     `

[2017-11-08 16:07] tiago-loureiro commented on #110
Hi @dnkls thanks for your interest in wire server.
As for your particular question, please check the discussion https://github.com/wireapp/wire-server/issues/70

[2017-11-08 16:07] #110 closed

[2017-11-17 12:11] Serpico83 opened #127 "Voice/Video Call Service"
Hi All.
Looking at the content of the repository (README.md) i can't find any service related to voice and video calls.
Is this feature available in the current wire-server source code ?

Best regards,
Sasà.

[2017-12-06 09:13] ghuntley opened #142 "oss developer experience: CONTRIBUTING.md is missing"
Can the Wire team please put together someone like https://github.com/reactiveui/ReactiveUI/blob/develop/CONTRIBUTING.md for folks like myself that documents the basics such as:

* git commit message conventions
* coding rules ("don't use OverloadedStrings, use ... instead")
* submission guidelines (what type of contributions you'll take)

[2017-12-06 09:19] ghuntley opened #143 "oss developer experience: PULL_REQUEST_TEMPLATE.md and ISSUE_TEMPLATE.md missing"
Howdy Wire.

This repository does not have a `PULL_REQUEST_TEMPLATE.md` and `ISSUE_TEMPLATE.md`

See below for examples:

* https://github.com/reactiveui/ReactiveUI/blob/develop/.github/PULL_REQUEST_TEMPLATE.md
* https://github.com/reactiveui/ReactiveUI/blob/develop/.github/ISSUE_TEMPLATE.md

Refer to https://github.com/flexyford/pull-request-template for more insights as to why these are needed.

[2017-12-07 14:22] cz-michi opened #145 "question on account migration"
hello,

how will be account administrated?
if i register now account and then i would like to start own wire server, will there be a chance to migrate account to own server? or how will this be working?
how will be server2server working? i'm now running xmpp server and there are dns records to find correct server by domain.

maybe i'm missing something, but i'm looking forward to getting light int

[2017-12-18 08:17] zhaohansprt opened #153 "how to config the apns service?"
i haven't find the apns-related config file through the project

[2017-12-18 08:33] #153 closed

[2017-12-27 14:44] tiago-loureiro commented on #145
Hi @cz-michi, thanks for your interest! Unfortunately, there are no plans for the account migration as you describe it.

However, self hosting and federation are indeed the roadmap, but there are no exact dates to be shared at the moment. We can only ensure that we are currently working on the self hosting version and, as mentioned [here](https://github.com/wireapp/wire-server#wire-server) federat

[2017-12-27 14:44] #145 closed

[2017-12-27 14:53] tiago-loureiro commented on #127
Hi @Serpico83 ! We are currently working on making these instructions available in an easy/clear way for every one to set things up.

To give a brief description, we use a pretty standard [TURN server](http://www.creytiv.com/) (exact build process to be updated here)
Then there are 2 steps involved:

1. Deploy a TURN server, using a public IP address
2. Make advertise a TURN IP in our [brig](https

[2017-12-28 23:52] marcotuna commented on #70
Any updates regarding this subject? Manual instructions for installation without Docker?

[2018-01-02 17:41] cz-michi commented on #145
thanks a lot
is there any way to support (donate) your hard work?

[2018-01-05 16:49] questionpython opened #164 "Error in Make!"
$ sudo make
------
[code]

how fix?

[2018-01-05 17:01] tiago-loureiro commented on #164
Hello @questionpython, thanks for your interest in wire-server

Which version of `docker` are you using, i.e., can you paste here the output of:
[code]
?

[2018-01-05 17:01] questionpython commented on #164
$ docker --version
--------
`Docker version 17.03.2-ce, build f5ec1e2`

[2018-01-05 17:03] tiago-loureiro commented on #164
Right, you will need to upgrade to `>= 17.05` as mentioned [here](https://github.com/wireapp/wire-server/tree/develop/build/alpine#overview)

[2018-01-05 17:22] questionpython commented on #164
$ docker --version
-------
[code]

$ make
-------
[code]

[2018-01-05 17:27] tiago-loureiro commented on #164
Seems like you either don't have your docker daemon running or have no permissions to access it

[2018-01-05 17:29] questionpython commented on #164
$ sudo make
-------
[code]

[2018-01-05 17:31] questionpython commented on #164
docker is blocked my country!

[2018-01-05 17:51] questionpython opened #165 "Why Haskell!"
Hello,

Question : Why choose `Haskell` for the server and API?
May you explain me with reasons?
Why not Nodejs+SocketIO/C/CPP/RUST?

  @tiago-loureiro

[2018-01-06 21:24] Delikt commented on #164
![3niwhsdl8mtl](https://user-images.githubusercontent.com/22080674/34644087-67e8a5ac-f330-11e7-9732-6fcc8fe1134d.jpg)

[2018-01-09 02:06] FihlaTV opened #168 "Error when running make"
Hi
I followed your instruction in building server with docker, but  I run into this error
error: Package `sodiumoxide v0.0.14` does not have these features: `std`

Any help. Thanks

[2018-01-09 12:36] jschaul commented on #168
Thanks for reporting. We upgraded the rust dependencies [here](https://github.com/wireapp/cryptobox-c/commit/b121b0dfdd42f5ac49cdbbc3bb3e1517d30d68d1) which should resolve this issue. Please re-open an issue if compilation problems remain.

[2018-01-09 12:36] #168 closed

[2018-01-09 12:39] jschaul commented on #164
@Delikt the problem you reported is the same as reported in https://github.com/wireapp/wire-server/issues/168. That should now be fixed.

[2018-01-09 14:31] Delikt commented on #164
@jschaul right the error is gone, #164 talk about a instruction... where can i find this?

[2018-01-17 01:40] FihlaTV opened #176 "Wire-server binaries"
Hi
I have followed the build instructions and docker instructions. However I cannot see any binaries or any way on how to run wire server  or it's services. I see in make process wire server makes some diretories , but I cannot find them in wire source directory or /usr/bin either. Do we manually find a way top build binaries?
thanks

[2018-01-18 21:04] tiago-loureiro commented on #164
Regarding instructions, please follow the issue https://github.com/wireapp/wire-server/issues/70
At the moment, the way to build the wire-server is described [here](https://github.com/wireapp/wire-server/blob/develop/build/alpine/README.md)

[2018-01-18 21:04] #164 closed

[2018-01-22 19:32] papmodern commented on #70
Wish we could even take a look at in-progress docs :D

[2018-01-25 21:03] gkua opened #188 "Error building on Ubuntu 16.04"
Followed documentation and did  `cd build/alpine && make`
[code]

[2018-01-27 20:50] fisx commented on #165
I was not involved in the decision, but I can give you lots of good reasons: Haskell is expressive and concise, fewer lines of code means fewer bugs.  The Haskell type system renders many programming errors impossible that you've seen in other languages, while it makes testing and refactoring so much easier it still surprises me after I've known the language for almost 20 years.  The ghc compiler

[2018-02-04 08:48] heroin-moose opened #193 "Using api-client for real client application"
Hi,

Is it a good idea to use api-client library for building a real Wire client? AFAICS it is a more or less complete HTTP API so it would save me some typing if I use wire-server as a git submodule. However, it's obviously an internal part of the project so it can be rewritten/eliminated/etc.

[2018-02-05 12:11] saidiahd opened #194 "wire-server installation"
Hi folk,
For a wire-server installation, is it necessary to configure all the external components (SNS,S3 …)?
Thanks

[2018-02-06 16:16] jschaul commented on #193
Hi @heroin-moose

We currently use the `api-client` (through the higher-level [`api-bot`](https://github.com/wireapp/wire-server/tree/develop/libs/api-bot) library) as part of our [smoke tests](https://github.com/wireapp/wire-server/tree/develop/tools/api-simulations). As such, it is unlikely to be removed in the future. Please note that it is not entirely complete and not our priority to keep up-

[2018-02-06 16:23] jschaul commented on #194
Hi @saidiahd

thanks for your interest in wire-server. Yes, at the moment it is necessary to have a AWS account and to configure all external components, such as SNS, SES, SQS, DynamoDB, cassandra, elasticsearch, redis, etc. We're aware of the related complexity, and we're currently working on both reducing this complexity and documenting necessary steps.

[2018-02-06 20:12] heroin-moose commented on #193
Yeah, already did it. Hail to the stack.

I'm not a big fan of Rust or GTK so my language of choice (for now) is Haskell. I'm trying to make my app more or less toolkit agnostic. Currently I read wire-server and coax in order to understand the protocol (both JSON and Protobuf), but a guide written by developers would be awesome (should we expect one?). I found Swagger.hs files that define some API

[2018-02-07 10:09] tiago-loureiro commented on #188
Hi @gkua, thanks for the interest on wire-server. Which version of `docker` are you using? Also, can you give a more detailed log of the error (to get a bit more context).

[2018-02-10 00:33] FihlaTV opened #200 "Is it possible to run on Google Cloud or any other platform"
I See the Wire-server is built using AWS configuration., Can it be ported to other cloud servers such as Google Cloud or any VPS

[2018-02-12 18:22] jschaul commented on #200
Hi @FihlaTV

thanks for your interest in wire-server. In a first phase, you will need an AWS account. At the moment it is necessary to have an AWS account and to configure all external components currently necessary, such as SNS, SES, SQS, DynamoDB, S3, cloudfront, etc. We're aware of the related complexity, and we're currently working on both reducing this complexity and documenting necessary ste

[2018-02-12 18:26] jschaul commented on #193
We have some documentation for client developers regarding call sequences and semantics, which is currently not open-sourced. We plan to release some of that *eventually*. This issue would then be updated if/when that happens.

[2018-02-12 19:07] heroin-moose commented on #193
It's nice to hear that, thanks.

[2018-02-13 22:05] c0fe commented on #194
There is no method of utilizing local components rather than having to use the external services?

[2018-02-15 11:46] sd166 commented on #194
Please tell me how to start the server for the test. Is there an AWS account where to make settings for the correct operation? Which branch to choose? Thank you in advance. On which OS to collect Ubuntu or Centos?

[2018-03-02 03:21] yangzhaofei opened #221 "Run"
What containers are needed to run

[2018-03-05 02:45] yangzhaofei opened #223 "How do you deploy it?"
How do you deploy it?

[2018-03-06 05:40] carryon opened #225 "Error In Make"
![image](https://user-images.githubusercontent.com/2255313/37015742-ea0e7692-2143-11e8-9649-a63d7a7b3bf7.png)

con$ cd build/alpine && make
docker build -t wireserver/alpine-deps:local -f Dockerfile.deps .
Sending build context to Docker daemon  20.99kB
Step 1/5 : FROM alpine:3.7 as cryptobox-builder
 ---> 3fd9065eaf02
Step 2/5 : RUN apk add --no-cache cargo libsodium-dev git &&     cd /tmp &&

[2018-03-06 14:29] xixi647 commented on #225
I have another problem when I run `make`,
[code]

as a matter of fact, I did download the cryptobox and use `make` & `make dist` to generate a deb file and install it in my linux OS, but this error didn't gone, should I put the generated libcryptobox.so in a proper path ? where should I put? anyone can help on this?

[2018-03-06 14:49] xixi647 commented on #53
I have another problem when I run `make`,
[code]

as a matter of fact, I did download the `cryptobox-c` and use `make` & `make dist` to generate a deb file and install it in my linux OS, but this error didn't gone, should I put the generated `libcryptobox.so` in a proper path ? where should I put? anyone can help on this?

[2018-03-06 15:39] carryon commented on #225
I already solved it, just not close this issue.
My problem is that not install some packages, like gcc, bash, xz, llvm, icu4c etc.

[2018-03-07 03:44] carryon commented on #223
@kim @typfel @vytis @zbsz

[2018-03-08 08:06] wssll789 opened #229 "unconfigured table meta"
service: Failed to read schema version from meta table. Error was: Invalid "unconfigured table meta"
CallStack (from HasCallStack):
  error, called at src/Cassandra/Schema.hs:99:11 in cassandra-util-0.16.5-AkzXtK0RA1x9xLYL98aoZu:Cassandra.Schema

@jschaul

[2018-03-09 05:12] #225 closed

[2018-03-11 20:38] clqn commented on #165
Not a wire dev, just a fan of big Haskell (i'm not super great with it but i just really enjoy writing in it). I was pretty pleasantly surprised to see that it was being put to use in my favorite chat app! Nice choice, Wire. :3

[2018-03-13 12:12] silent0608 opened #234 "Error building on centos6.4 64bit"
before build ,i hava install the cryptobox-c .
https://github.com/wireapp/wire-server/blob/docs/doc/Dependencies.md#cryptobox-c

but i got the following message. how can i fix it.

--  While building custom Setup.hs for package cryptobox-haskell-0.1.1 using:
      /root/.stack/setup-exe-cache/x86_64-linux-gmp4/Cabal-simple_mPHDZzAJ_2.0.1.0_ghc-8.2.2 --builddir=.stack-work/dist/x86_64-linux-gmp4/Ca

[2018-03-13 23:38] silent0608 commented on #234
i hava build on Fedora 27 x64.

[2018-03-13 23:38] #234 closed

[2018-03-14 09:45] sd166 opened #236 "Wire-server make error"
OS version of Ubuntu 16.04

I'm trying to run the
`cd build/alpine && make`

The process hangs on

[code]

And so it can stand and day and two days

[2018-03-14 12:27] ThomasR commented on #236
I ran into the same issue. The solution is to add the following line to `build/alpine/Dockerfile.builder`

[code]

Make sure to insert it just above the `stack update` line.

( Found in https://github.com/commercialhaskell/stack/issues/2509#issuecomment-240844481 )

[2018-03-14 12:29] ThomasR commented on #188
I ran into this issue when my Docker ran out of RAM. Once I assigned 4GB, it worked.

[2018-03-14 13:43] jschaul commented on #236
@ThomasR thanks, we've also seen this issue on some environments. Do you want to make a PR and add those config options to https://github.com/wireapp/wire-server/blob/develop/build/alpine/ghc/config.yaml ?

[2018-03-14 16:27] TonyWuLihu opened #239 "Where could I get the zauth module info?"
This is an awesome work for you team. I'm trying to get my foot wet and feel it.  However, after I build the nginz docker, I tried to bring it up a container, it failed with
Starting nginx
2018/03/14 15:34:20 [emerg] 7#0: missing 'zauth_keystore' in /etc/nginx/nginx.conf:117
nginx: [emerg] missing 'zauth_keystore' in /etc/nginx/nginx.conf:117
I know it's related to the zauth config, but any refere

[2018-03-14 20:23] sd166 commented on #236
@ThomasR Thank you, it helped! But there was the following error, which can not be solved (((

[code]

[2018-03-15 09:10] ThomasR commented on #236
@jschaul Sorry, I'm not familiar with the ghc ecosystem. Not sure what to do there.

[2018-03-15 10:14] elverkilde commented on #236
@ThomasR I created a PR for the changes you suggested, thank you again.

@sd166 it looks like you are running out of memory:
`ghc: internal error: Unable to commit 1048576 bytes of memory`
can you try allocating more memory to your docker instance?

[2018-03-15 11:40] yihuang opened #241 "Problem built on OSX."
In OSX, I need to specify extra flags to build ``HSOpenSSL``:
[code]
Then when I run ``stack build``:
[code]

Is there a way to specify extra flags for ``extra-deps`` packages in ``stack.yaml`` ?

[2018-03-15 12:01] elverkilde commented on #229
@wssll789 you will need to run the schema executables before running the service executables. As an example, for the `brig` service you need to run the `brig-schema` executable first to set up the table.

[2018-03-15 12:06] elverkilde commented on #241
@yihuang you can set these flags in your global stack config, in `~/.stack/config.yaml`.

You will most likely need these options:
[code]

[2018-03-15 12:11] elverkilde commented on #239
Hi @TonyWuLihu, thank you for your interest in Wire.

nginz is used internally at Wire and is mainly used for authentication. If you wish to run Wire yourself, I would suggest you start with the main services; `brig`, `galley`, `gundeck` and `cannon`.

If you have a specific need for running nginz, let us know and we can try to assist with that specific use case.

[2018-03-15 13:53] TonyWuLihu commented on #239
@elverkilde Thanks for your quick response!!! I love the architecture diagram very much!  nginz as proxy for external request, and this would minimize the exposed ports to outside world, and nginx could be easily scaled out. We have similar use case like this, I know zauth is developed by Wire internally, so if there is any example for setting up nginx with zauth module, that would be fantastic !

[2018-03-15 13:53] TonyWuLihu commented on #239
mainly the nginx configuration

[2018-03-15 13:59] yihuang commented on #241
Thank you very much.

[2018-03-15 13:59] #241 closed

[2018-03-15 15:08] #236 closed

[2018-03-15 15:33] sd166 opened #243 "What to do next?"
Please tell me what to do next after doing the build?

[code]

[2018-03-22 07:28] yangzhaofei opened #253 "Why not swagger-ui"
Why not swagger-ui

[2018-03-22 07:29] yangzhaofei commented on #253
Is it not available

[2018-03-22 21:12] tiago-loureiro commented on #188
Hi @gkua

Since there has been no activity on this issue, I will close it down and assume you managed to build a docker image.
Feel free to reopen it in case you still face any problems.

[2018-03-22 21:12] #188 closed

[2018-03-22 21:20] tiago-loureiro commented on #70
To all those interested in building wire-server, here are our updated docs on how to proceed:

 * [Natively](https://github.com/wireapp/wire-server/blob/develop/README.md#1-compile-sources-natively)
 * [Using docker](https://github.com/wireapp/wire-server/blob/develop/README.md#2-use-docker)

Will close down this issue for now. Feel free to open specific issues on steps you might need help in.

[2018-03-22 21:20] #70 closed

[2018-03-22 21:22] tiago-loureiro commented on #165
@questionpython Hope that @fisx has inspired you and helped clear some doubts :)

Will close down this issue for now, thank you for your interest!

[2018-03-22 21:22] #165 closed

[2018-03-25 03:50] Cospotato opened #256 "brig and galley have no place to config aws region"
My AWS Service Region：
SQS service is in `us-east-2`
SES service is in `us-east-1`
dynamoDB is in `us-east-2`

When I starting the brig/galley service, I got this error message:
[code]

[2018-03-25 20:13] #243 closed

[2018-03-25 20:16] sd166 opened #257 "Error zauth_module"
When executing
[code]
the poppy produces an error

[code]

[2018-03-26 12:27] #257 closed

[2018-03-26 12:28] jschaul commented on #257
Please see the instructions added [here](https://github.com/wireapp/wire-server/pull/258/files)

[2018-03-26 14:33] VictorLi0213 opened #259 "Wire Server Installation"
I want to install the wire server on my aws independently. Can anyone help me do that? Thanks!

[2018-03-26 21:38] sd166 opened #262 "Docker start container"
When you try to start the docker container, it gives an error.

[code]

[code]

Help please run.

[2018-03-27 12:57] tiago-loureiro commented on #256
Hi @Cospotato
`brig` and `galley` use amazonka as the AWS library, which in turn will try to load your AWS credentials in different ways as described [here](https://hackage.haskell.org/package/amazonka-1.5.0/docs/Network-AWS-Auth.html).

In our case, and when running our integration tests, we also need to set a default `AWS_REGION`, as shown and explained [here](https://github.com/wireapp/wire-ser

[2018-03-27 12:59] tiago-loureiro commented on #221
Hi @yangzhaofei
Extensive documentation on how to run in a production mode is not fully ready yet but partially available [here](https://github.com/wireapp/wire-server#how-to-run-wire-server)

If you want to run some integration tests, [this](https://github.com/wireapp/wire-server#how-to-run-integration-tests) should get you going.

Will close this down for now, please (re)open if you have other c

[2018-03-27 12:59] #221 closed

[2018-03-28 00:01] ogiright123 opened #264 "wire server installation issue"
i am interesting in wire developement.
i built all components in wire server.
But i dont know how to run server.
can anyone give me full guide.
now Readme is not enough

[2018-03-28 04:38] fisx commented on #264
Thanks for your interest in wire.  The README has only recently been polished, and it's good to see that the build process is now manageable for some people.  The README also says:

If you have any particular questions that you would like to ask, please re-open this issue and give us more details.  This would be very helpful for us to write better documentation.  If you just want to have a full us

[2018-03-28 04:38] #264 closed

[2018-03-28 13:39] setekhid commented on #2
@teller Any progress? Even deploying on AWS with all dependencies of external servers listed at README.md, can I run my own wire-server now?

And is there any deadline you can give out?!

[2018-03-30 01:34] stevemill2014 commented on #176
wire-server/dist

[2018-04-01 03:38] stevemill2014 commented on #259
document will come soon.

[2018-04-02 11:24] nboooob opened #267 "How to configure the turn for voice/video?"
i used the restund server , but had a problem.
webrtc  call is ok, but ios app call is fail.
i watch the console output same string is "auth: unknown user 'd=1522688417.v=1.k=0.t=s.r=yafkhmsgnluzrhbf'"

brig.yaml
turn:
  servers: /etc/wire/turn/servers.txt
  secret: /etc/wire/turn/secret.txt

i tried some config for this file /etc/wire/turn/secret.txt(eg, username:HA1)  but it's incorrect.

thanks

[2018-04-02 16:37] imanodaysoffdotcom commented on #267
@nboooob can you share your complete config to the wire server up and running. Maybe a video of how you setup the server and its components

[2018-04-02 18:44] WildYorkies opened #268 "Add username mention notifications"
https://github.com/wireapp/wire-ios/issues/781

Scan message for `@username` or `@all` and notify users appropriately. This feature is very necessary for group conversations

Ideally, we could also notify a user if one of their messages is replied to by another user. But replying to or quoting messages might be an additional issue

[2018-04-03 08:24] sd166 commented on #267
I would also like to see a video on installing a wire-server

[2018-04-03 09:42] jschaul commented on #268
As all message content is encrypted and therefore not readable by server-side code, your feature request is not in the right place on this repository. Feature requests can be sent via support: https://support.wire.com

[2018-04-03 09:42] #268 closed

[2018-04-08 15:56] Cospotato commented on #127
Hi @tiago-loureiro ! According to your guide, we had built and installed the `restund` server. But when we start with `auth.so` module, then start a video/voice call. We got error message in restund log like below:
`auth: unknown user 'd=1523221785.v=1.k=0.t=s.r=vigctuzdjobhfcrt' ({CLIENT_IP})`
How to fix this?

Best regards,
CosPotato

[2018-04-19 14:12] eugenejen opened #285 "Can I use localstack to mock AWS dependencies in standalone server installation?"
Hi,

I am wondering is that possible to use [localstack](https://github.com/localstack/localstackl) to replace the AWS dependency in standalone server setup. Has anyone done it? If no, I will be interesting to give it a try. I know there are other external dependencies so the effort may not create a standalone installation on a local server.

[2018-04-19 14:50] tiago-loureiro commented on #285
Hi @eugenejen

Indeed, we have made that possible and you can have a look at our [docker-compose](https://github.com/wireapp/wire-server/blob/develop/deploy/docker-ephemeral/docker-compose.yaml) file.

We also have an open branch with a [README](https://github.com/wireapp/wire-server/blob/full-config/deploy/services-demo/README.md) that should get merged in during the coming days that will make it

[2018-04-19 21:34] tompinzler opened #286 "Setting user presence from 3rd party app"
I‘m using Wire for a while now for my private communication whenever possible and I really like it. Great work guys!

I‘m currently looking for a self hosted chat server for my company. From what I understand it will be possible to run your own Wire server soon (dependencies on AWS are fine for us)

We need one (somewhat exotic) feature:
We need to be able to set the presence status of a user on t

[2018-04-20 09:11] elverkilde commented on #286
hi @tompinzler, as you correctly assume, this is not possible as the status is e2e encrypted, i.e. the server has no knowledge of or influence on the presences.

Only an authenticated client can modify its own status (the clients users' status) so I unfortunately don't see how this could be implemented (unless the 3rd party application (somehow) registers as an actual client of the user).

[2018-04-20 10:34] tompinzler commented on #286
@elverkilde Thanks for confirming that!

I'm thinking about implementing an additional field to override the status set by the user. Whenever that field is set the client should show busy instead of the status set by the user.

It's probably a bigger project which requires modification of the server- and probably the client. I will have a look at the code and see what I can do.

[2018-04-20 10:34] #286 closed

[2018-04-24 08:33] tompinzler opened #290 "Question regarding open source model"
I wonder if Wire server and client will be 100 % open source or if there will be some kind of dual license? I'm especially interested whether it will be possible to use team features, presence, conversation export etc. with the open source version.

Also is there any external software like admin tools for the Wire server that wouldn't be available as open source software?

Thanks!

[2018-04-27 12:51] erotavlas85 opened #297 "Wire server installation problem: debian, lubuntu"
Hi,
I'm trying to install the latest version of wire server under debian 9 64 bit, lubuntu 16.04 LTS 64 bit, ubuntu 16.04 LTS and 18.04 LTS both 64 bit.
I can successfully install the dependencies only under ubuntu while under debian and lubuntu I get the following error for cryptobox-c:
[code]
Can you explain me why?
Moreover, the documentation is out of date since libssl-dev is required both und

[2018-04-29 11:16] fisx commented on #297
Thanks for the docs improvements; see #298.

I am not the right person to ask about the libsodium problem.  Can you set `RUST_BACKTRACE=1` and try again?

[2018-05-02 13:12] neongreen commented on #297
@erotavlas85 ping

[2018-05-02 20:13] erotavlas85 commented on #297
@neongreen I'm sorry for the late reply. Yes, I confirm that with pkg-config installed it works in all the OS.
Now I will proceed by installing the wire-server.

[2018-05-04 06:03] jiamo opened #306 "can't find why demo.sh give the error"
I already compile the source successfully. And run the `docker-compose up`.
While the demo.sh give the error
[code]
I global search `AesonException` and don't find anything.

[2018-05-04 08:58] #256 closed

[2018-05-04 09:01] tiago-loureiro commented on #253
hi @yangzhaofei

If you follow the instructions [here](https://github.com/wireapp/wire-server/blob/develop/deploy/services-demo/README.md) you will see that you can access our API through swagger on  http://127.0.0.1:8080/swagger-ui

Feel free to reopen if something is still unclear or not functioning.

[2018-05-04 09:01] #253 closed

[2018-05-04 09:03] tiago-loureiro commented on #239
Hi @TonyWuLihu

You can have a look over our latest instructions [here](https://github.com/wireapp/wire-server/blob/develop/deploy/services-demo/README.md), which should make things clearer for you (includes a demo config for all services including nginz and the keystore).

Feel free to reopen if something is still not clear, thanks for the interest!

[2018-05-04 09:03] #239 closed

[2018-05-04 09:05] tiago-loureiro commented on #229
Hi @wssll789

There is now a more thorough description of how to set all services up, please go through
https://github.com/wireapp/wire-server/blob/develop/deploy/services-demo/README.md and let us know if something is still unclear.

[2018-05-04 09:05] #229 closed

[2018-05-04 09:06] tiago-loureiro commented on #223
Please go through the documentation [here](https://github.com/wireapp/wire-server/blob/develop/deploy/services-demo/README.md) and reopen if something is still unclear.

[2018-05-04 09:06] #223 closed

[2018-05-04 09:14] tiago-loureiro commented on #306
Hi @jiamo, thanks for opening this issue.

Indeed after https://github.com/wireapp/wire-server/pull/296 we forgot to update the demo config for brig. It is now fixed after https://github.com/wireapp/wire-server/commit/6f0ef1f32a9834e145c284e3ca9978cf4caa869f;
please get the latest version our of code from the develop branch and that error will be gone.

[2018-05-04 09:14] #306 closed

[2018-05-04 09:16] tiago-loureiro commented on #285
Hi again @eugenejen

Said branch is now in develop (https://github.com/wireapp/wire-server/blob/develop/deploy/services-demo/README.md) so please feel free to go through it and you should be able to start up a standalone installation. Let us know if something is still amiss.

[2018-05-04 09:16] #285 closed

[2018-05-04 09:25] #194 closed

[2018-05-04 13:51] jiamo opened #308 "mac os x make services can't work"
`make services` will make `nginz` while in mac os x
[code]
So I will need install `libzauth`
[code]
while I think in mac os x we don't need `deb` thing any more.

[2018-05-04 14:32] tiago-loureiro commented on #308
That's correct; dependencies needed for building nginz are shown [here](https://github.com/wireapp/wire-server/blob/1e548b4dba66beba8c45fcb383844ddb95139361/services/nginz/README.md#compile-natively)

That's right, you don't actually need a debian package; however, the error you describe is actually not problematic, libzauth seems to have compiled properly for you; we will improve on this, @neongr

[2018-05-07 09:09] neongreen commented on #297
Your suggestions have already been merged in; for the `pkg-config` issue I just created a new PR.

[2018-05-07 09:09] #297 closed

[2018-05-07 14:38] eugenejen commented on #285
thank you. i will check them out\

On Fri, May 4, 2018 at 5:16 AM, Tiago Manuel Ventura Loureiro <
notifications@github.com> wrote:

[2018-05-11 09:00] JimmyTinsley commented on #127
Hi @tiago-loureiro, any progress on instructions now? Same problem here, have been stuck at this place for weeks. How to solve these endless "auth: unknown user 'd=1526049691.v=1.k=0.t=s.r=oevgvursdgkaoglb'"s

[2018-05-11 13:05] sd166 opened #316 "The problem with the demo: 403 Forbidden nginx"
I launch according to the instructions in [README.md](https://github.com/wireapp/wire-server/blob/develop/deploy/services-demo/README.md)

Displays in the console

[code]

I go to  http://127.0.0.1:8080/swagger-ui, it gives an error "403 Forbidden
nginx" in console "2018/05/11 06:14:22 [error] 116544#0: *9 open() "/root/wire-server/deploy/services-demo/conf/nginz/zwagger-ui" failed (13: Permission

[2018-05-11 16:13] sd166 commented on #316
The nginz.conf line was added to the file
`user root`

But when I try to authorize, I get an error

![wire_app_swa](https://user-images.githubusercontent.com/10991740/39934733-6e2b18c4-554f-11e8-9d11-331013aab7c0.jpg)

[2018-05-13 02:02] senlinms opened #317 "video chat bad error? web to web is not success! I use coturn server."
4: handle_udp_packet: ------------------ xx ---------------- New UDP endpoint: local addr 103.45.21.47:4433, remote addr 125.84.184.192:3860
4: ****** session 003000000000000001: realm <> user <>: incoming packet BINDING processed, success
4: handle_udp_packet: ------------------ xx ---------------- New UDP endpoint: local addr 103.45.21.47:4433, remote addr 223.104.249.115:39145
4: ****** session

[2018-05-13 02:51] senlinms commented on #127
STUN/TURN server  is  coturn？

[2018-05-13 17:20] mjheidari opened #318 "user can not sign up or login"
hi.
i installed wire-server on my server,and custom wire-webapp to worked with my server.but in auth page in web app user can not sign up or login,and then this error occurred in server:
[code]

[2018-05-14 12:07] neongreen opened #320 "Doesn't compile with GCC 8.1.0"
[code]

[2018-05-14 12:08] neongreen commented on #320
Fixed here: https://trac.nginx.org/nginx/ticket/1546

[2018-05-14 12:29] neongreen commented on #320
The fix is not in any release yet (and we're stuck on 1.12 anyway) so I'll make a custom patch.

[2018-05-14 23:59] mjheidari opened #324 "this source and your server is not same"
I run this server,but there are differents to your server.
1. GET /properties in this source return 404 not found,But in your server return an array
2. Send SMS or Email  not work in this(when send json object to /activate/send return error that "not a valid json value"). also in login

[2018-05-16 01:08] FihlaTV opened #326 "Error when running fake aws"
Hi
I am trying to run Wire-server with fake-aws according to all instructions in README pag4e, but I always get stuck on this elasticsearch error:
brig-index: HttpExceptionRequest Request {
db_migrations_1    |   host                 = "elasticsearch"
db_migrations_1    |   port                 = 9200
db_migrations_1    |   secure               = False
db_migrations_1    |   requestHeaders       =

[2018-05-17 07:26] sadoyan opened #327 "SSL connection issues with brig"
When I run brig server I get `brig: ProtocolError "error:0D0C5006:asn1 encoding routines:ASN1_item_verify:EVP lib"  ` is any HTTPS endpoint is configured in brig.yaml
for example I get error on this `sqsEndpoint: https://sqs.us-east-1.amazonaws.com/` , but when I run brig with `sqsEndpoint: http://sqs.us-east-1.amazonaws.com/`  it does not throws error.
I have tried fake SQS servers as well, if it

[2018-05-17 10:47] sadoyan commented on #327
this does not happens on Ubuntu 16.04, do you have some special requirements ?

[2018-05-17 15:06] sadoyan commented on #327
Now I run wire-server component on Ubuntu 16.0.4  seems without any visible issue.
At least I can add user and login to swagger-ui. It looks like this is Debian's OpenSSL version issue.

[2018-05-17 15:10] fisx commented on #327
Excellent.

Please leave the issue open in any case for people who want to use Debian.

[2018-05-17 15:15] sadoyan commented on #327
yes  you are right seems default package installation of Debian 9 have different versions of OpenSSL and libssl. Indeed strange thing version of libssl comes as dependency for some packages in Debian 9.
Debian 9
`libssl1.0.2:amd64  1.0.2l-2+deb9u3
libssl1.1:amd64    1.1.0f-3+deb9u2
openssl            1.1.0f-3+deb9u2
`
Ubuntu 16.04
`libssl1.0.0:amd64          1.0.2g-1ubuntu4.12
openssl

[2018-05-19 10:04] mjheidari commented on #326
Unfortunately, there are a lot of bugs in this project, but nobody is accountable.

[2018-05-22 13:34] jschaul commented on #327
Additional info on this one: This issue has come up for us only on debian distributions (both on jessie and on stretch). Other distributions (fedora, arch, ubuntu, macOS) do not have this problem. Only the `brig` service is affected.
If anyone manages to figure out what causes this problem on debian, please let us know.

[2018-05-22 14:56] jschaul commented on #326
@FihlaTV it looks like when you run `deploy/docker-ephemeral/run.sh`, which should start (among other things) elasticsearch on port 9200. The error you're getting indicates that this does not happen for you.
Possible reasons could be that your machine doesn't have enough RAM, or docker is in a strange state. Perhaps you could try, after running  `deploy/docker-ephemeral/run.sh`, in a separate term

[2018-05-22 15:00] tiago-loureiro commented on #176
Hi @FihlaTV

We have made a number of changes on our documentation and should be now far more straightforward to get things up & running.

As the previous user described, you can find all the generated binaries under `wire-server/dist` but we would really recommend going through https://github.com/wireapp/wire-server/blob/develop/deploy/services-demo/README.md and seeing if you still encounter any

[2018-05-22 15:00] #176 closed

[2018-05-22 15:03] tiago-loureiro commented on #308
@jiamo Have you tried building `nginz` with the latest changes on our `develop` branch?

[2018-05-23 02:43] jiamo commented on #308
Just have a try. success.

[2018-05-23 02:43] #308 closed

[2018-05-23 08:51] neongreen commented on #2
You can – for instance, some Chinese guys did just that (and forgot that our code is GPL-ed :trollface:). It's not particularly easy though.

Instead of writing a long manual about how to deploy wire-server in its current state, we have decided to spend the effort on making the from-scratch setup easy, since this way we kill two birds with one stone – our own infrastructure becomes nicer, and othe

[2018-05-23 08:53] neongreen commented on #200
Closing this issue in favor of #2. Please subscribe to that issue to get a notification when it will be possible to deploy your own backend!

[2018-05-23 08:53] #200 closed

[2018-05-23 08:54] neongreen commented on #259
Closing this issue in favor of #2. Please subscribe to that issue if you want to get a notification when it becomes possible to deploy your own backend!

[2018-05-23 08:54] #259 closed

[2018-05-23 08:56] neongreen commented on #326
NB. If you want to be notified about the progress of that, please subscribe to #2.

[2018-05-23 09:21] tiago-loureiro commented on #127
@Serpico83 @Cospotato @JimmyTinsley @senlinms

The deployment/setup of the TURN server is still undocumented but we will be updating that in the coming weeks. Please keep tuned and thank you for your patience!

[2018-05-23 09:40] tiago-loureiro commented on #316
Hi @sd166

Could you please try this again with our latest changes from develop?

This change should not be necessary

[2018-05-23 09:56] tiago-loureiro commented on #262
Hi @sd166

Our documentation has evolved since this issue was opened and, based on https://github.com/wireapp/wire-server/issues/316, it seems like you have made some progress and are now able to run our services so I will close down this issue for now, let me know if you need further assistance after following the suggestion made [here](https://github.com/wireapp/wire-server/issues/316#issuecomme

[2018-05-23 09:56] #262 closed

[2018-05-23 11:17] #193 closed

[2018-05-23 11:17] heroin-moose commented on #193
Sure thing.

[2018-05-23 11:43] storrgie commented on #2
@neongreen this might be a bit reductionist in view, sorry, but would it be possible to consider non AWS dependencies for self deployment as this project progresses?

[2018-05-23 12:10] neongreen commented on #2
@storrgie the plan is to get AWS out first, then we might look into making it fully or partly AWS-independent (replacing EC2 is easy, replacing SES is harder). The demo (https://github.com/wireapp/wire-server/blob/develop/deploy/services-demo/README.md) works already, but the AWS replacements that it uses are not quite suitable for production.

[2018-05-23 12:12] neongreen commented on #2
In an ideal world I would just tell you exactly what is the progress on this and what are our best estimates, but if I do it, a hundred people will misinterpret "this is our best estimate" as "this is our ironclad commitment" :unamused:

[2018-05-23 12:15] storrgie commented on #2
The open efforts are appreciated. I think there are many watching the project in anticipation of self hosting.

[2018-05-23 20:41] sd166 opened #339 "Error make services"
When performing the  "**make services**", an error occurs.

[code]

[2018-05-23 21:05] tiago-loureiro commented on #339
Hi @sd166

This was just introduced in the latest PR, we have just submitted a fix for it in https://github.com/wireapp/wire-server/pull/340 . Feel free to retry this from [this branch](https://github.com/wireapp/wire-server/tree/fix-plaintextpassword-tojson) or you could alternatively wait up until we merge this to develop (should happen within a few hours)

[2018-05-24 08:30] tiago-loureiro commented on #339
This has now been merged to `develop`, thanks for the issue!

[2018-05-24 08:30] #339 closed

[2018-05-24 12:10] sd166 opened #341 "Test failure: Gundeck -> Main -> Native -> serialise/ok"
When performing the "make integration", an error occurs.

[code]

[2018-05-24 12:41] fisx commented on #341
I can reproduce this after running this here 4 times (first 3 times was green):

[code]

I'll look into it.  Thanks for reporting!  Looking forward to see what you're going to find next.  (-:

[2018-05-24 12:50] sd166 opened #343 "Error connect to wire-server"
Started, when I try to authorize, I get an error. In the twillio and nexmo files are indicated the SID and API key

![wirewebapp](https://user-images.githubusercontent.com/10991740/40486174-3364034e-5f69-11e8-95d5-7d12c1762205.jpg)
what to do? what is the problem?

and console
`[nginz] 192.168.186.1 - - [24/May/2018:05:37:51 -0700] "POST /login/send HTTP/1.1" 400 98 "http://192.168.186.140:8888/lo

[2018-05-24 12:53] neongreen commented on #343
The `999` area code doesn't exist in Russia, and Twilio is smart enough to detect it. Try with a real phone number and ping us again if it doesn't work.

[2018-05-24 12:58] fisx commented on #341
(I touched the responsible generator in #292, but I reproduced the problem on 742f2e7aae1e97ba8a7089e85334f3b9fcf7e686 before #292 got merged, so it must be something else.)

[2018-05-24 13:16] fisx commented on #341
I got some debug info using quickcheck's `counterexample`:

[code]

NB: for replay you need to keep the test number cranked up, or you won't see the failure:

[code]

[2018-05-24 13:49] fisx commented on #341
I've started a branch `fix-341`.

This line is failing with `PayloadTooLarge`:

https://github.com/wireapp/wire-server/blob/fix-341/services/gundeck/test/unit/Native.hs#L53

`serialize` is defined here:

https://github.com/wireapp/wire-server/blob/fix-341/services/gundeck/src/Gundeck/Push/Native/Serialise.hs#L26

...  and the error happens here:

https://github.com/wireapp/wire-server/blob/fix-341

[2018-05-24 14:28] sd166 commented on #343
@neongreen
In Russia there is a code 999 it uses Megafon. But also I use the real phone number which starts at 926 error also.

[2018-05-24 15:39] tiago-loureiro commented on #341
The context of this is that both APNS and GCM have [a maximum length for notifications](https://github.com/wireapp/wire-server/blob/fix-341/services/gundeck/src/Gundeck/Push/Native/Serialise.hs#L120-L124); anything larger than that will just result in SNS throwing errors back at us and in such cases we want to avoid doing extra work.

Back in the days, we committed a [fix](https://github.com/zinfr

[2018-05-24 17:22] sd166 opened #347 "Error Webapp + wire-server"
It was authorized on the local computer where the webapp is launched.
at **http://localhost:8088/app**

in the browser console produces an error, seen in the screenshot.

![webapp_error_console](https://user-images.githubusercontent.com/10991740/40501295-1f67610c-5f90-11e8-88b3-4847ee4a43b6.jpg)

[2018-05-24 20:36] fisx commented on #341
Yes, I understand that, but isn't that only if the utf8 encoding is too large *after the unencoded data has been silently chopped to size*?

I would change this:

[code]

to this:

[code]

so overly large messages will always be dropped.  alternatively:

[code]

anyway I am pretty sure that I am missing something.  Still on the train, will read more carefully tomorrow.

[2018-05-28 20:20] sd166 commented on #341
After making changes, the tests are successful

[2018-05-30 11:12] phasium opened #352 "make error"
when trying to install makedeb
[code]

[2018-05-30 11:15] neongreen commented on #352
What version of Stack do you have? Afaik recent versions of Stack have a
workaround for it.

On Wed, May 30, 2018, 13:12 phasium <notifications@github.com> wrote:

[2018-05-30 11:58] phasium commented on #352
The latest one.

[2018-05-30 12:04] neongreen commented on #352
Okay, that's weird. I'm not sure what to do here, to be honest. Everything that I know suggests that it should be fixed (e.g. see https://github.com/commercialhaskell/stackage/issues/2759). Are you 100% sure that you don't have e.g. two versions of Stack and the one on PATH is older? (Often people would have Stack installed globally and also in ~/.local/bin, for instance)

[2018-05-30 12:14] jschaul commented on #352
What is your `stack --version`? `latest` is not a version number.

[2018-05-30 12:17] phasium commented on #352
Seems to be fixed, reinstalled.

[2018-05-30 12:17] #352 closed

[2018-06-04 05:52] carryon commented on #317
@fisx @tiago-loureiro @neongreen @jschaul

[2018-06-04 06:13] coercible commented on #127
Hi @tiago-loureiro I have encountered the same issue with [127#issuecomment-379560794](https://github.com/wireapp/wire-server/issues/127#issuecomment-379560794). I'm running a standard restund server and I have tested my turn server with https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/. What content should I add to `turn/secret.txt` ?

Any update on the document for configu

[2018-06-05 08:38] tiago-loureiro commented on #127
Hi @coercible

It will take us a little longer to finalise the documentation needed for the TURN server configuration. Please stay tuned, we will update this issue as soon as we have it ready.

[2018-06-05 08:40] tiago-loureiro commented on #317
Hi @senlinms @carryon

We are currently working on documentation on how to configure your TURN server. Please follow https://github.com/wireapp/wire-server/issues/127 to get updates on this topic

[2018-06-05 08:40] #317 closed

[2018-06-05 08:41] tiago-loureiro commented on #267
Hello @Cospotato @sd166 @imanodaysoffdotcom @nboooob

We are currently working on documentation on how to configure your TURN server. Please follow #127 to get updates on this topic

[2018-06-05 08:41] #267 closed

[2018-06-07 19:30] wireappru opened #365 "Error make libzauth"
When you try to compile a package, libzauth issues the following error. OS is used by Ubuntu 16.04 x64

[code]

[2018-06-07 21:48] neongreen commented on #365
Known; see https://github.com/wireapp/wire-server/pull/364.

[2018-06-10 14:03] mjheidari commented on #324
i set twilio/nexmo credentials , and run
`curl -i -XPOST http://localhost:8082/login/send -H 'Content-type: application/json' -d '{"phone":"+1xxx"}'`
but brig error:
`ParseError "Error in $: Failed reading: not a valid json value"`

[2018-06-11 08:34] fisx commented on #324
(Just to rule that out: I assume the phone number you actually sent consistet of more digits and fewer `x`, and you just edited this out for privacy?)

[2018-06-11 09:54] jschaul commented on #365
Fixed by #364

[2018-06-11 09:54] #365 closed

[2018-06-11 10:16] mjheidari commented on #324
my phone number is correct and verified by twilio and nexmo, i post xxx for privacy. if phone number is not correct error: not E 164 format

[2018-06-12 20:00] mjheidari commented on #324
i used fake aws,but my sms number and twilio/nexmo credentials are correct and valid.i run `demo.sh` and get  `All services up & running,Wire away!` ,also use and config webapp to connect to my own server and i can login with email(created by `create_test_user.sh`) and features works.but SMS login not work ( error 500 on webapp and `not a valid json value` by brig on server ). i can send my server

[2018-06-14 08:51] dkovacevic opened #375 "TeamId and Name to UserEvents"
In order to move Marketo support from Ibis to Galeb we need additional information in the UserEvent.
Currently UserEvent contains UserId, Locale and Email. We would need TeamId (in a case of a Consumer TeamId should be null) and Name in USER_ACTIVATE event.
Name should appear in USER_UPDATE when it gets changed.

Galeb would use this data to update Marketo

[2018-06-14 09:10] #375 closed

[2018-06-17 12:32] joomlaroad opened #379 "error in login/send"
![sw](https://user-images.githubusercontent.com/40336074/41507851-262c2842-7250-11e8-90e0-0db6a5e86451.jpg)
![server](https://user-images.githubusercontent.com/40336074/41507854-26df5bec-7250-11e8-812a-ab7761b41bfc.jpg)

[2018-06-17 18:03] fisx commented on #379
I can't find anything wrong with the input you show there.  Moreover, this is the error message you get e.g. if you forget a closing `}` as opposed to forget to include some required fields in the object.

Strange!  My first shot in the dark would be "perhaps something in your setup tried to escape the quotes to make it valid HTML?"  But I'm most likely miles off.

What client software are you usi

[2018-06-17 18:37] sd166 commented on #341
An error occurs during the integration
![wire_make_integration](https://user-images.githubusercontent.com/10991740/41510965-99fba7b8-7276-11e8-93fa-0a82d33a353e.jpg)

[2018-06-18 09:02] joomlaroad commented on #379
Firefox & Chrome & cURL

it's Ok.

[2018-06-18 10:37] mjheidari commented on #379
I also have this problem. on '/login/send/' and '/activate/send'(if use phone instead of email)

[2018-06-21 12:33] neongreen commented on #379
Can you please send the exact curl invocation so that I could try to replicate it locally?

[2018-06-23 09:04] sadoyan commented on #127
Hello , by digging a little source code and bash scripts we were able to make it work without attention. We have added geoip database and run brig . We are using Coturn with secret auth .
So when secret is enabled client sends ubnormal username and got 401 , when auth is disabled we are able to make voice and video calls . Is there a trick which is not documented to make authentication working ?
A

[2018-06-23 18:14] JimmyTinsley commented on #127
@tiago-loureiro We are very willing to see even the incompleted documentation. Some instructions or tips would just be fine!  :-)

[2018-07-06 10:57] samuelantonioli commented on #2
[Here](https://gist.github.com/samuelantonioli/9809baa0fb837c82558f0855b2c489ad) is a script to install the development version of wire-server. Please run on Ubuntu 16.04, Debian won't work for unknown reasons.

It just aggregates all the commands found in the installation docs (and those that I had to search for).

[2018-07-06 11:04] thepill commented on #2
@samuelantonioli or anyone: AWS is a must have dependency to run this, am i right?

[2018-07-06 11:07] samuelantonioli commented on #2
No, this uses replacements. But for production use, you should definitely use AWS services currently.

[2018-07-06 11:16] thepill commented on #2
@samuelantonioli thanks - another question:

from your script `[!] only for testing! this is not stable or secure`. What exactly does/doesnt make it secure?

[2018-07-06 11:33] neongreen commented on #2
In terms of security though, it's not significantly less secure than production backend -- the whole point of end-to-end encryption is that you retain security regardless of what the backend does. Nonetheless, some metadata like conversation titles will leak to anyone who has the ability to intercept the traffic (since, as @samuelantonioli mentioned, it doesn't use HTTPS). I'm not familiar with th

[2018-07-09 10:58] jschaul commented on #2
@neongreen @thepill - in terms of security, the demo setup (all services running on the same machine and/or in docker containers, exposing ports over plain http, without any firewall rules) **is significantly less secure** than the production backend, simply because there are no network restrictions built-in in this setup. Let me elaborate:

If your laptop or server is reachable from the outside,

[2018-07-09 15:22] jschaul commented on #379
I'm not sure if it's directly related to the error you're getting (But the 500 indicates that it's perhaps a problem with configuration parsing, not with the actual request body); but for using twilio, [this config line](https://github.com/wireapp/wire-server/blob/develop/deploy/services-demo/conf/brig.demo.yaml#L39) has to be set.

[2018-07-18 00:10] trygub opened #406 "Galley integration tests from "Per-conversation message timer" group sometimes do not get run"
galley-integration built from master Release/2018 06 22. If "post crypto broadcast message 100 (or max conns)" test fails the tail of the output is:

[code]

If I comment all tests from "Teams API" group but the one that fails I get the above failure and the remainder of the output with five additional tests from "Per-conversation message timer" group.

[2018-07-24 09:34] Batarian711 opened #415 "Logo design"
I want to design a logo for you. For the Readme. If you like. I give you gift.

[2018-07-24 09:36] neongreen commented on #415
We already have one: https://brand.wire.com/logo/

[2018-07-24 09:36] #415 closed

[2018-07-24 09:44] fisx commented on #415
Appreciate the nice offer though.  Thank you!  :-)

[2018-07-26 14:15] coercible commented on #127
Hi @tiago-loureiro we are still blocked by the authentication of the coturn service. We are very keen to see how to make it work. Could you please provide us some incompleted documentation on this topic ? or even some tips ?

Thanks in advance!

[2018-07-27 11:20] sadoyan commented on #127
@sighingnow can you please share your configs ?

[2018-07-31 16:50] tiago-loureiro commented on #406
Hi @trygub

Thanks for the issue opened. Have you tried the latest version from master? We have just merged our latest develop to master and you should not see this anymore! (It seems to have been just a configuration mismatch)

[2018-07-31 16:52] tiago-loureiro commented on #316
@sd166
I will close this issue due to inactivity. Please feel free to reopen it if it still happens to you.

[2018-07-31 16:52] #316 closed

[2018-07-31 21:22] voilaviola opened #424 "[Privacy]Will metadata collected by privately-hosted Wire server shared to other servers?"
Hello,
I would like to deploy Wire on our private cloud, and I wonder if the Wire metadata (user ID, connection list hash, etc) stored on cloud server will be shared with other Wire server or not? In our use case, we would like to keep all metadata locally.
Thank you in advance

[2018-08-01 02:38] JimmyTinsley opened #425 "Running restund docker"
Hello there,

After you guys released some documents about building turn server [here](https://github.com/wireapp/wire-server/pull/419), I successfully built and ran the restund service following the instruction [HERE](https://github.com/wireapp/wire-server/blob/develop/services/restund/README.md#building) by running `make build DOCKER=false` . `make build` also worked well and I've already got th

[2018-08-01 09:15] raphaelrobert commented on #424
Hi,
Wire does not yet support federation, which means there is no connection between Wire backend instances.

[2018-08-01 09:33] tiago-loureiro commented on #425
You need to supply the `.conf` in the manner that is most convenient to you that docker can access. For instance, assuming you want to share a folder on your _local_ machine which contains the config at `/users/jimmy/restund/restund.conf`, then you could start `docker` like this:

[code]

which should yield an output similar to:
[code]

[2018-08-01 11:13] JimmyTinsley commented on #425
Thank you a lot. That works perfectly well!

[2018-08-01 11:13] #425 closed

[2018-08-02 11:38] o-u-p opened #430 "when send some request which will insert into cassandra, Brig got "user error""
[brig] D, logger=cassandra.brig, client.connect=127.0.0.1:9042#21
[brig] D, logger=cassandra.brig, client.connect=127.0.0.1:9042#23
[brig] D, logger=cassandra.brig, client.connect=127.0.0.1:9042#24
[brig] D, logger=cassandra.brig, client.connect=127.0.0.1:9042#25
[brig] D, logger=cassandra.brig, client.close=127.0.0.1:9042#25
[brig] W, logger=cassandra.brig, exception=user error (error:00000000:li

[2018-08-02 11:52] tiago-loureiro commented on #430
Hi @o-u-p
Which OS are you running this on, Debian? If so, please have a look at https://github.com/wireapp/wire-server/issues/327
If something else, please give us a bit more information on your setup please.

[2018-08-09 03:12] o-u-p commented on #430
Yes, I'm running on Debian 9(stretch), amd64, so, it's a known issue?

[2018-08-11 09:49] o-u-p opened #438 "How to config virtual host in nginz?"
So, when I use nginx, I can find a solution to add virtual host like https://www.digitalocean.com/community/tutorials/how-to-set-up-nginx-server-blocks-virtual-hosts-on-ubuntu-16-04 , but it seems different to use nginz, because I tried to create /etc/nginx/sites-enabled, it failed, so is it possible to add virtual host to nginz? Any help will be appreciated :)

[2018-08-11 11:25] tiago-loureiro commented on #430
Yes, we know the root cause but were not able to find a suitable solution due to the multiple versions of OpenSSL and libssl.

I'll mark this as a duplicate of https://github.com/wireapp/wire-server/issues/327

[2018-08-16 10:19] #424 closed

[2018-08-16 10:43] cisrakesh opened #447 "Getting is error on setting up wire-server on local"
I am trying to install wire server on my ubuntu 16.04 , and when in run command
deploy/docker-ephemeral/run.sh
i am getting following error.

db_migrations_1    | D, connecting to 172.18.0.3:9042
db_migrations_1    | I, control connection: 172.18.0.3:9042#3
db_migrations_1    | I, known hosts: [datacenter1:rack1:172.18.0.3:9042]
db_migrations_1    | D, client.connect=172.18.0.3:9042#4
db_migration

[2018-08-16 13:01] voilaviola commented on #424
Thank you for your response!

[2018-08-25 15:01] sd166 opened #456 "Error make"
When executing a poppy, it produces the following error

[code]

[2018-08-25 15:03] neongreen commented on #456
Looks like your terminal can't handle characters like `µ` (Greek mu). Try to set the locale to something that supports UTF-8 – does it help?

[2018-08-25 15:04] neongreen commented on #456
Also,

:wat:

[2018-08-25 17:12] sd166 commented on #456
I use putti as an ssh accessor. OS Ubuntu 16.04.

# locale
[code]

# sudo locale-gen en_US.utf8
Same.

[2018-08-25 17:16] neongreen commented on #456
locale-gen doesn't set the locale, it just makes it available. Try
`LANG=en_US.UTF-8 make fast`

On Sat, Aug 25, 2018, 19:12 sd166 <notifications@github.com> wrote:

[2018-08-25 17:32] neongreen commented on #456
Great!

Btw: does anybody know whether we can just enable this in the makefile? Or
at least add a check or something?

On Sat, Aug 25, 2018, 19:20 sd166 <notifications@github.com> wrote:

[2018-08-25 22:59] sd166 opened #457 "Error POST /register"
# When I try to register a user, I get an error.

[code]

# Response Body
[code]

[2018-08-25 23:02] neongreen commented on #457
[code]

I don't think trailing commas are allowed in JSON.

[2018-08-25 23:03] neongreen commented on #457
(Yes, the error message sucks. Sorry.)

[2018-08-26 19:06] sd166 commented on #457
maybe I'm doing the wrong registration request?

[2018-08-26 19:51] sd166 commented on #457
Ok

[2018-08-26 20:00] sd166 opened #458 "Websocket in wire-server"
On what port is the websocket spinning?
The Web application uses the HTTP and WSS connection.

[2018-08-27 04:16] sd166 commented on #457
Understood with the request. At the moment, the problem is solved.

[2018-08-27 04:16] #457 closed

[2018-08-27 12:05] fisx commented on #456
like [this](https://github.com/wireapp/wire-server/pull/459)?

[2018-08-27 12:09] fisx commented on #458
8081 in `/deploy/services-demo`, if you mean that?

[2018-08-30 07:59] coercible opened #465 "Security vulnerability about password reset"
Currently when resetting password, we do `revokeAllCookies` in `/password-reset/complete` to logout all active clients. `revokeAllCookies` will delete cookies of the user from cassandra database.

The cookies are removed from cassandra, but the nginz doesn't know that. In the following several minutes after resetting password, **before the clients renew the cookie**, the active client still could

[2018-09-19 15:04] sd166 opened #472 "Update startup instructions Wire-server"
Good afternoon!
Please update the instructions for launching the server part using the combat AWS. Also, the possibility of using a wire-webapp

[2018-09-19 15:51] jschaul commented on #472
I do not understand your question. What are you missing?

For wire-webapp related questions, please see https://github.com/wireapp/wire-webapp/.

[2018-09-19 17:10] #456 closed

[2018-09-19 17:11] neongreen commented on #406
@trygub ping if it's not solved for you.

[2018-09-19 17:11] #406 closed

[2018-09-19 17:12] neongreen commented on #430
Please subscribe to #327 if you want updates on this issue.

[2018-09-19 17:12] #430 closed

[2018-09-19 17:15] neongreen commented on #326
@FihlaTV feel free to ping me if the issue persists and you were unable to debug it.

[2018-09-19 17:15] #326 closed

[2018-09-19 17:17] neongreen commented on #347
@sd166 can you please either close the issue or confirm that it's still relevant for you? (I'm cleaning up stale issues)

[2018-09-19 17:18] neongreen commented on #458
@sd166 does that answer your question? If so, please close the issue.

[2018-09-19 17:19] neongreen commented on #447
@cisrakesh please ping if the issue is still relevant for you.

[2018-09-19 17:19] #447 closed

[2018-09-19 18:38] sd166 commented on #472
How to configure the server with a public AWS, not fake AWS.
About Web. There is used  /self/consent but it is not in the server part

[2018-09-19 18:52] sd166 commented on #347
The problem is not solved! But I could not repeat it. I'm closing the issues for now

[2018-09-19 18:52] #347 closed

[2018-09-19 18:54] sd166 commented on #458
Yes. The answer helped. Close

[2018-09-19 18:54] #458 closed

[2018-10-07 13:32] neongreen commented on #318
@mjheidari Did Tiago's suggestion work out for you? Please re-open the issue if it didn't.

[2018-10-07 13:32] #318 closed

[2018-10-09 00:50] GiovanniMounir opened #484 "404 Not Found: GET /calls/config/v2"
I was able to run wire-server alongside wire-webapp on a self hosted Linux server, but calls/video is not working unfortunately. Exchanging messages and sharing images/S3 seem to be working properly.

I'm getting the following error in the demo.sh console from nginz whenever I try to call/video chat:

`[error] 28984#0: *1 open() "/home/ubuntu/wire-server/deploy/services-demo/html/calls/config/v2"

[2018-10-09 03:18] GiovanniMounir commented on #484
I was able to get video calls working by forwarding /calls to brig based on [this commit](https://github.com/wireapp/wire-server/pull/38/commits/8dfe31aa7ab101f45b7f83cf1e1a459c8af61a8b) - here is the nginx.conf section:

`location /calls/config
{
  include common_response_no_zauth.conf;
  proxy_pass http://brig;
}`

I'm not sure if the section was missing or if this is not the correct approach; a

[2018-10-09 11:29] #484 closed

[2018-10-09 11:30] tiago-loureiro commented on #484
Hi @GiovanniMounir thanks for opening this issue. Indeed there was a missing route on our demo setup, it's now fixed with https://github.com/wireapp/wire-server/commit/3bbd9f27683601acbbc8293ab64f4ca97cfc6b37

[2018-10-11 09:16] coercible commented on #465
Any comment on this issue ?

/cc @tiago-loureiro

[2018-10-12 02:44] king6cong commented on #326
<img width="612" alt="image" src="https://user-images.githubusercontent.com/302560/46844601-66883f00-ce0a-11e8-9c5a-ebf7bde2a520.png">

Docker-for-mac defaults to 2G memory usage, silimiar on other platforms. With cassandra and elasticsearch both being memory hungry, the 2G defaults will cause lots of memory thrashing, and  cassandra and elasticsearch can't be brought up simultaneously. With docke

[2018-10-14 10:35] tiago-loureiro commented on #465
Hi @coercible,

Your assessment regarding the validity of the access token is correct; this is a known tradeoff when using self encoded access tokens similarly for OAuth2.

A few ideas on improving this could be to have shorter access token lifetimes (at the expense of more network requests) or potentially rotating keys on brig/nginz, which would invalid ALL access tokens generated from that speci

[2018-10-28 08:54] coercible commented on #465
Thanks for the excellent explanation!

[2018-10-28 08:54] #465 closed

[2018-11-05 16:05] torlarse opened #504 "SMS verification code consistently failing to country code +47"
I have tried to recruit 3 individuals to try Wire. One attempt on web login, two attempts on Android app. Trying to log in with phone number resulted in no SMS received. Country code +47 for all candidates.

Registration by mail was done from the web app for one candidate, but I did not push mail login for the candidates using their phones.

I sent a mail to Wire support a while ago. No response a

[2018-11-19 12:56] coercible opened #516 "The lookupUser method may fail unexpected"
Hello, we are deploying wire backend in our own AWS cluster, currently we are suffering a tough problem related to the cassandra settings.

#### Backgroud

We setup a three-node cassandra cluster on AWS and these three nodes are in the same cassandra datacenter. We set the replicate factor of each keyspace as `2`.

#### The trouble

We found the `lookupUser` in module `Brig.Data.User` may fail in

[2018-11-19 14:03] jschaul commented on #516
Hi @coercible

could you provide some details on which kind of error exactly you are getting (e.g. error message in the logs - are you seeing a read timeout, or something else?), and which version of the code you're using?

Have a look here: https://www.ecyrd.com/cassandracalculator/  and play with the settings - since most of our queries read and write with quorum consistency, for availability re

[2018-11-19 14:43] coercible commented on #516
@jschaul Thanks for your reply!

The error occurs very rarely when the endpoint `put "/self/handle"` is called, and I'm sure the user exists in table `brig.user`. The error message is as follows:

[code]

Does that means, we should set up a cluster has at least `4` nodes, and set the replicate factor as `3` ?

[2018-11-19 14:46] coercible commented on #516
I have already read some related code, the error was caused by the `throwE ChangeHandleNoIdentity` when `Data.lookupUser uid` returns `Nothing`, inside the method `changeHandle` in `brig/src/Brig/API/User.hs`.

[2018-11-19 15:14] jschaul commented on #516
A cluster with 3 nodes can have a replication factor of 3. This way, one node can temporarily or permanently go down without data loss and without affecting brig/galley/gundeck. More than 3 nodes in your cluster are only necessary if you have a lot of data.

When users are created, they are initially in a non-activated state. They first need to verify their email address or phone number to become

[2018-11-19 17:44] coercible commented on #516
Hi, @jschaul,

Thanks for reminding me about the **non-activated** problem. After further investigation I'm sure that the activation failed during execute `/register` endpoint, though I don't know why.

We run our services in docker. The images was built on alpine:3.8, with ghc-8.4.3, and with openssl-dev installed. After changing the image to ubuntu-based, everything works quite well.

I will con

[2018-11-19 18:20] neongreen commented on #516
Hm, so you've already switched to GHC 8.4? Did you also migrate to a newer
LTS?

On Mon, Nov 19, 2018, 18:44 coercible <notifications@github.com wrote:

[2018-11-19 18:37] coercible commented on #516
We migrated to lts 12.14 independently. We just
1. update stack.yaml
2. run stack build
3. fix all complie errors

I noticed the lts-12 branch after finished our upgrade. I have read the related commits several days ago, but I thought it haven’t ready, since I saw some git merge conflicts in diff.

[2018-12-05 22:51] ericfjl opened #541 "mac os can't load .so/.DLL"
<command line>: can't load .so/.DLL for: /Users/jlfang/www/opensource/haskell/wire-server/.stack-work/install/x86_64-osx/lts-11.13/8.2.2/lib/x86_64-osx-ghc-8.2.2/libHStext-icu-translit-0.1.0.7-6ZUumJ2qPPSKf8hzkZ3aNJ-ghc8.2.2.dylib (dlopen(/Users/jlfang/www/opensource/haskell/wire-server/.stack-work/install/x86_64-osx/lts-11.13/8.2.2/lib/x86_64-osx-ghc-8.2.2/libHStext-icu-translit-0.1.0.7-6ZUumJ2qP

[2018-12-06 04:51] ericfjl commented on #541
It's work now ,the import information is 【  Library not loaded: /usr/local/opt/icu4c/lib/libicuuc.62.dylib】

this is some method to do it
    1. 【brew info icu4c】if not install ,do it 【brew install icu4c】
    2. check the version <= 62.1 ，if too hight ,low it to V 62.1, 【brew uninstall icu4c】,change the file icu4c.rb to V 62.1's
    3. locate libicuuc.62.dylib  if not find /usr/local/opt/icu4c/lib

[2018-12-06 04:51] #541 closed

[2018-12-12 18:11] jschaul commented on #516
Do you still encounter any issues here, or could this issue be closed?

[2018-12-31 13:59] maximbaz opened #560 "Make server respond to websocket ping messages"
Webapp sends `'Wire is so much nicer with internet!'` [every now and then](https://github.com/wireapp/wire-webapp/blob/b6117ed93297feaab2ea845095d75a678161cfc4/app/script/event/WebSocketService.js#L224) to make sure it is still able to talk to the server. However because server doesn't respond to this message, in some cases it is impossible to detect if webapp is actually offline.

See this messag

[2019-01-03 16:41] strypey commented on #145
@ghost encourage any professional teams you know who can afford it to buy a license for the pro version of Wire.

[2019-01-04 14:30] tiago-loureiro commented on #560
Hi @maximbaz

Websockets have a built-in mechanism for this using [control frames](https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_servers#Pings_and_Pongs_The_Heartbeat_of_WebSockets) which is already supported on the backend (check [this](https://github.com/wireapp/wire-server/blob/3b0b0812ee1e9cf3647bbd363b9515a6a9199262/services/cannon/src/Cannon/App.hs#L106-L1

[2019-01-04 14:59] maximbaz commented on #560
Hey hey @tiago-loureiro 👋

Yes I know about those, unfortunately they are not supported by client-side javascript, that's the reason webapp is faking ping requests by sending strings to the server.

https://www.w3.org/TR/websockets/#ping-and-pong-frames

[2019-01-05 08:35] JiangJiabao commented on #472
hello.
My name is Jiabao.
Today I read the wire-server.
I am very interested in wire-server.
So I tried to setup wire-server on my computer by using the https://github.com/wireapp/wire-server.
But I didn't setup.
Could you lend me a hand?
I will waiting for your reply.
Regards.
Jiabao

[2019-01-05 09:10] JiangJiabao commented on #438
Happy New Year

hello.
My name is jiabao.
I am very interested in wire-server.
I tried  to setup wire-server on my computer and I used the source code in https://github.com/wireapp/wire-server.
But I didn't setup.
If you have experienced in wire-server,
   Could you lend me a  hand?
I will wait for your reply.

My email address -  jiabao216@gmail.com

Thank you
Regards.
Jiabao.

[2019-01-05 09:10] JiangJiabao commented on #379
Happy New Year

hello.
My name is jiabao.
I am very interested in wire-server.
I tried  to setup wire-server on my computer and I used the source code in https://github.com/wireapp/wire-server.
But I didn't setup.
If you have experienced in wire-server,
   Could you lend me a  hand?
I will wait for your reply.

My email address -  jiabao216@gmail.com

Thank you
Regards.
Jiabao.

[2019-01-05 09:13] JiangJiabao commented on #290
Happy New Year

hello.
My name is jiabao.
I am very interested in wire-server.
I tried  to setup wire-server on my computer and I used the source code in https://github.com/wireapp/wire-server.
But I didn't setup.
If you have experienced in wire-server,
   Could you lend me a  hand?
I will wait for your reply.

My email address -  jiabao216@gmail.com

Thank you
Regards.
Jiabao.

[2019-01-05 09:59] neongreen commented on #472
@JiangJiabao Next time please open a new issue with a _specific_ issue that you've encountered (we can't help you if the only thing we know is "I didn't setup").

Do not spam in all open issues. If you do it again, I will restrict you from posting in this repo.

[2019-01-07 13:43] fisx commented on #560
Working on it.  Thanks @maximbaz for reporting this, and for not letting go!  :-)

[2019-01-08 11:03] fisx commented on #560
I just talked with @bennyn:

- yes, the browser gives js no chance of learning about the death of its websocket other than the payload-level ping/pong game.
- we don't want to use protobuf to implement this like with all the other websocket traffic.  the backend dislikes the beaurocracy involved, and the web client would have to pay a performance penalty.
- instead, the message payloads are `ping`

[2019-01-08 11:10] maximbaz commented on #560
Solid plan 👍 Thank you both!

[2019-01-08 12:53] marcoconti83 commented on #560
To my understanding, this is an optional addition to the protocol. Only if a client sends a `ping`, the backend will respond with a `pong`. Currently no clients sends a `ping` so this addition is safe for older clients.

[2019-01-09 00:31] romanrev opened #562 "make in build/alpine produces error 137"
I am trying to build `wire-server` on my MBP (MacOS Mojave 10.14.2) with Docker version 18.09.0, build 4d60db4. After a while I the build ends with error 137, with no further log messages, as per below:
[code]

[2019-01-09 00:43] romanrev opened #563 "'make docker-services' target docker-services is missing in Makefile"
Instructions in the README on how to build the Wire server with Docker [specify](https://github.com/wireapp/wire-server#2-use-docker) to run `make docker-services` but that target is missing from the [Makefile](https://github.com/wireapp/wire-server/blob/develop/Makefile) there is a generic target for any [`docker-service-%`](https://github.com/wireapp/wire-server/blob/develop/Makefile#L117) but n

[2019-01-09 00:58] neongreen commented on #562
Try giving Docker more memory:

<img src="https://user-images.githubusercontent.com/1523306/50868886-b8d6fd00-1405-11e9-82db-2c419360fab8.png" width=400px>

[2019-01-09 02:33] romanrev opened #564 "demo mode not runnable unless all services compiled natively (not with Docker)?"
I've built all services with Docker (changing directories to each of the `services` subdirs and running `make docker` or `make build-docker` there, and then tried to follow the [demo mode documentation](https://github.com/wireapp/wire-server/blob/develop/deploy/services-demo/README.md) in order to run the Wire server locally in demo mode. `deploy/docker-ephemeral/run.sh` succeeded, however the `de

[2019-01-09 02:34] romanrev commented on #562
thanks! I thought that might be an issue, ended up pulling the `alpine-builder` image instead of pulling it

[2019-01-09 08:36] #562 closed

[2019-01-09 09:58] jschaul commented on #564
Correct - the current demo mode that is part of this repo assumes you build all services natively. (there is also a docker-based demo deployment on kubernetes, [instructions here](https://github.com/wireapp/wire-server-deploy) - if you wanted to deploy this on your local machine, you would need minikube or similar)

It would be relatively straightforward to create a second docker-compose file that

[2019-01-13 10:53] romanrev commented on #564
yes, I will have a go at it

[2019-01-14 06:51] neongreen commented on #564
Add to your ~/.stack/config.yaml:

[code]

[2019-01-14 07:16] romanrev commented on #564
thanks @neongreen, that solved this one. However I got the next issue:
[code]

[2019-01-15 05:57] romanrev commented on #564
thank you @jschaul, I've used the prebuilt docker image in the `demo.sh` script for invoking `zauth` for now.
I have another question, this time related to the inter-dependency of the services: I've noticed that brig config file [has references to `galley`](https://github.com/wireapp/wire-server/blob/develop/deploy/services-demo/conf/brig.demo.yaml#L19-L22), while the `galley` is [referencing `bri

[2019-01-15 06:10] neongreen commented on #564
To handle certain API requests, Brig might have to consult Galley. Same for Galley and Spar, or Spar and Brig.

However, if you just run all of them together (in any order), circular dependencies shouldn't prevent the services from starting – otherwise `demo.sh` wouldn't work at all. The only requirement is that all services are running when you start making API requests.

Can you say why exactly

[2019-01-15 06:13] romanrev commented on #564
@neongreen the reason is I am linking containers in `docker-compose.yaml` and circular dependencies are an issue in that case:
[code]

[2019-01-15 06:19] neongreen commented on #564
Oh, I see.

I think that a cleaner solution would be to use aliases (https://medium.com/@yani/two-way-link-with-docker-compose-8e774887be41), but it would require modifying `*.demo.yaml` files.

Ideally we should have a way to override YAML config vars, but... yeah.

[2019-01-15 07:14] romanrev commented on #564
ah, nice, thank you! I've updated both `docker-compose.yaml` to use `networks` instead - I need that anyway because there is no other way to link services deployed by an external docker-compose (from `run.sh` script). Still getting some errors and one of them seems to be related to the nginx not having `libgcc` in its container?:
[code]

[2019-01-16 17:39] #563 closed

[2019-01-19 03:02] romanrev commented on #564
@jschaul @neongreen after I have successfully launched the Wire server locally using the changes from PR #571 I am able to generate user/password and login using Swagger UI, however when I am trying to run the latest [wire-desktop](https://github.com/wireapp/wire-desktop/) against the localhost (`yarn start:localhost`) I am seeing that the app is trying to open hit the URL `http://localhost:8081`

[2019-01-20 17:04] #560 closed

[2019-01-20 17:13] maximbaz commented on #560
Yay for getting this merged! 🙂 @bennyn ping me if you want an early testing, or even for implementation if you guys are busy with other stuff, this is my most annoying issue with Wire on Desktop so I would be more than happy to collaborate again and get this implemented quickly 😉

[2019-01-20 22:04] bennyn commented on #560
@maximbaz PRs are more than welcome because we won't have time this month to implement it ourselves.

[2019-01-21 09:07] fisx commented on #560
@maximbaz also note that the PR went to staging yesterday; the next release that will bring it to app.wire.com is still a few days off (not scheduled, in fact, but very likely due this month).

btw i really appreciate your patience and helpful attitude.  it's great working with you!  :-)

[2019-01-22 09:01] maximbaz commented on #560
Thanks for the kind words, happy to collaborate with you too 🙂 I have some preliminary implementation, please ping me when the code reaches app.wire.com so I can do some final testing before submitting a PR.

[2019-01-22 10:54] neongreen commented on #324
Closing because it's an old issue and it's unclear how to reproduce it; if the problem with SMS still persists, please open a new one.

[2019-01-22 10:54] #324 closed

[2019-01-22 11:08] neongreen commented on #343
Closing because it's an old issue and webapp might have gotten better in the meantime 🙂 Please try to reproduce and if the problem still exists, open a new issue.

[2019-01-22 11:08] #343 closed

[2019-01-22 11:14] neongreen commented on #379
I'm getting:

[code]

There can be many reasons for that happening, including weird stuff like "macOS replaced quotes with curly quotes and nobody noticed" (for example).

If you reopen this issue, please post a cURL invocation that I can copy and paste.

[2019-01-22 11:14] #379 closed

[2019-01-22 11:17] neongreen commented on #472
I'm closing this issue in favor of https://github.com/wireapp/wire-server/issues/2 (please subscribe to it if you want to get news on self-hosting).

[2019-01-22 11:17] #472 closed

[2019-01-22 11:18] neongreen commented on #504
@torlarse Are you still getting no SMS on +47 phones? If the issue persists I'll look into it.

[2019-01-22 13:45] neongreen commented on #290
Update: account verification and password reset pages are also not open-sourced yet but it's questionable whether they are considered features.

[2019-01-22 18:19] neongreen commented on #324
Oh btw, for everybody getting "Failed reading: not a valid json value" with curl: try adding `--trace-ascii /dev/stdout` to the curl invocation and check that your shell hasn't messed up.

[2019-01-26 00:52] tiago-loureiro commented on #564
@romanrev questions regarding our wire-desktop version are probably better answered by our colleagues @bennyn @atomrc @ffflorian @Yserz

[2019-01-27 00:50] her-mes opened #599 "make docker-services fails because zauth.h is missing"
### $ `make docker-services`

[code]

[2019-01-28 10:17] fisx commented on #599
I have reproduced this and will look into it soon.

Thanks for reporting!

[2019-01-28 11:44] fisx commented on #599
looks like you (and i) had a stale docker image tagged `local`, and the make rule picked that over the update from quay.io.  when i did this:

[code]

i got it to build.  could you please check if that works for you, too?

[2019-01-28 13:49] fisx commented on #560
@maximbaz *now* this ticket is legitimately closed, and https://github.com/wireapp/wire-server/pull/561 is in production.

please re-open (or ping me) if you need anything else from the backend.

[2019-01-29 00:43] her-mes commented on #599
Hmm.. still not working for me. I tried exporting the environment variable and also tried your pull request. Even after removing all images and trying to `make docker-services` again I'm getting the exact same error.

[2019-01-29 09:48] fisx commented on #599
could you compare your output against this?

[code]

and could you also try on #600 ?

[2019-01-30 00:38] her-mes commented on #599
I should note that I'm running `make docker-deps docker-intermediate docker-services` when getting this error and I am **not** making `docker-builder` locally. Maybe the issue is with the docker-builder image being pulled from quay.io?
### On latest master branch:
[code]
### On #600 :
[code]
[code]

[2019-01-30 09:22] fisx opened #603 "Start moving internal documentation to /docs"
Tasks

- [ ] start a wiki
- [ ] move some low-hanging fruit(s) from internal docs to it (cross-ref new location from old)
- [ ] figure out and document a way to dump wiki into a tree of `*.md`-files in `/docs` in this repo.  (my first idea, possibly no fun or invalid: write a small shell script that pulls everything from the wiki, overwrites the working copy with the changes, and commits this to a

[2019-01-30 10:02] neongreen commented on #603
So the wiki is the source of truth and /docs is effectively a read-only mirror? Or are changes from /docs going to be backported every release?
On Jan 30 2019, at 10:22 am, fisx <notifications@github.com> wrote:

[2019-01-30 10:55] fisx commented on #603
good point @neongreen, i updated the description.

also, i'm not so confident this is the best task list for what we want to have.

feel free to suggest some simpler way of getting docs in place.  i think the one thing that would be hard to attack is that we want a set of markdown files as user manual that can be used without getting near any source code.

[2019-01-30 11:34] neongreen commented on #603
Alternatively, we can make it a part of the release checklist: somebody has to go through the CHANGELOG and update the wiki. In this case having `/docs` is pointless for me because I can just grep through the wiki repo instead, it doesn't matter whether it's inside the `wire-server` directory or not.

[2019-01-30 13:21] fisx commented on #603
I agree with you.

Even though one point of having a wiki is that it has a different feel to edit it than a git branch in your own editor.

The reason for having `/docs` is that it can be aligned with the release nicely, and we do not loose documentation history (yes, I know, github wiki also has history, but I'm not sure it's as convenient).

[2019-01-31 09:51] jschaul commented on #564
@romanrev Have you seen [this wiki page](https://github.com/wireapp/wire-webapp/wiki/Self-hosting) ? (Perhaps [our current kubernetes-based deployment](https://github.com/wireapp/wire-server-deploy/blob/master/charts/webapp/templates/deployment.yaml#L29-L56) will also be useful). You probably need to set a few environment variables.

[2019-01-31 10:23] jschaul commented on #599
`cd services/nginz && make docker` is sufficient to reproduce this issue (it is exclusively related to nginz, not any other services, as the error message indicates). The docker image building fails since [this commit](https://github.com/wireapp/wire-server/commit/d30ec9a4319392b8d38ec2643f303635cc5c451b) due to a rename of the `PREFIX` variable.
A fix for this is in #605.

[2019-01-31 11:00] #599 closed

[2019-02-02 00:32] neongreen commented on #603
Alright, here's my own proposal:

## A bunch of Markdown files on Github

We put docs as Markdown files in `doc/` (which is, conveniently, a folder that we already have).

We also add a README.md there with a table of contents. Since Github can render Markdown, we get a documentation site for free just by linking to the folder.

## Documentation aligned with release

We can give people a link to d

[2019-02-02 00:35] neongreen commented on #603
Oh, right, the last point.

## "that can be used without getting near any source code"

If we rename our `doc` folder to `docs`, we can get a Github Pages site for that folder by clicking exactly one button:

![image](https://user-images.githubusercontent.com/1523306/52156801-c2612700-268a-11e9-9853-9e34efd9e26f.png)

[2019-02-02 00:38] neongreen commented on #603
(NB: I might sound confident because it's 1am already and I'm tired. In reality I have literally no idea how to get good documentation for any project. None of the projects I worked on had good documentation, ever, regardless of whether I was responsible for it or not, so my hopes aren't high.)

[2019-02-03 21:01] torlarse commented on #504
sms seem to be ok now, at least for one number

[2019-02-06 10:06] jschaul commented on #603
I like @neongreen's last proposal: have a single place to keep docs relating to this codebase (in `doc/` or `docs/`). CI already ignores changes to `*.md` files. (Keep in mind that some documentation relating to e.g. deployment, or unrelated to the wire-server codebase, should live elsewhere)

[2019-02-06 10:32] neongreen commented on #603
Do you have an opinion on what should the compromise be?

[2019-02-06 13:10] jschaul commented on #603
I'm fine with small edits (typos, a sentence here and there) "willy-nilly" straight on develop without explicit PR + review.

The question is, when writing new sections (more than, say, 10-20 lines) of documentation, how "effortless" does it need to be, is a PR + review + merge too restricting for people to document things? Otherwise I'd prefer that - I assume reviews here to generally be quick an

[2019-02-06 13:37] neongreen commented on #603
There are unintended side-effects.

For instance, I often notice that I want to write something and then I feel like "someone will say that it's all obvious" and I'm not in a mood to fight over it so I'd rather not write anything at all.

Or someone will say "here, I thought of a better place to put this doc", or think of phrasing improvements, or whatever, and then I'll have to touch a PR again a

[2019-02-07 22:03] gabek001 opened #615 "Impossible to run wire-server with "fake" AWS dependencies in demo mode with docker"
The step:
  On terminal 2, start the services
deploy/services-demo/demo.sh docker # in case Docker images were built instead

Does not work. wire-server/deploy/services-demo/docker-compose.yaml seems use as network docker-ephemeral_demo_wire instead of dockerephemeral_demo_wire

[2019-02-07 22:09] gabek001 opened #616 "How connect a wire-webapp client to a wire-server with "fake" AWS dependencies in demo mode with docker"
I have setup a wire-server in demo mode with docker.
I have clone wire-webapp repo and setup a computer to run it, it open me a browser with a login/password.
I found nowhere how connect my wire-webapp client to my wire-server in demo mode. I tried modified the .env but i never was successfully. Could you give me some help on how do it ?

[2019-02-14 16:56] stevenroose opened #631 "Implement XMPP federation"
I can't remember where or from who, but a few months ago I picked up a message that Wire wanted to implement federation between Wire servers.

I just want to give you guys a giant heads-up for the idea and meanwhile suggest using the XMPP protocol specifically for doing so. While it might seem a bit harder at first than just specifying your own custom protocol, XMPP is a very solid and extensible

[2019-02-14 17:17] neongreen commented on #631
If I understand correctly, this involves basically ditching our own existing E2E protocol (https://github.com/wireapp/proteus), moving to something like OMEMO, and implementing OMEMO support in all our clients.

Then, whenever we want to improve our protocol, we need to publish a XEP so that other Jabber clients can implement this XEP (if they want to be able to talk with Wire users). Alternativel

[2019-02-14 17:22] neongreen commented on #631
Also: I'm not familiar with XMPP federation, so I'm curious to know whether adopting XMPP will make federation easier for us even if we decide that we still need to run our custom protocol on top of it.

[2019-02-14 17:31] Zash commented on #631
It depends on how much interoperability with the existing XMPP world you want. It's perfectly reasonable to have your own private extensions. OMEMO is an extension, there are other E2EE extensions.
In any case, being able to draw from 20 years of experience can't hurt, can it?

[2019-02-14 18:18] weiss commented on #631
Yes: Standardization, negotiation with other players, debugging interop issues etc. certainly involves additional effort.  I think interop with other systems is clearly in the interest of customers (and their external contacts), but obviously it's less clear from the vendor's point of view.  Capitalism sucks :smile:

However, advantages might include:

- The "20 years of experience" point that has

[2019-02-14 18:42] neongreen commented on #631
Oh, just in case: I wasn't implying "this is not trivial so why are you
even proposing this". Far from it.

I will, however, admit that I'm sceptical about standardization not being
an incredibly time- and money-consuming process. That's why "a bit harder"
felt out of place in the original post.

Please feel free to use this issue to post links / papers / reading
material of any kind that might he

[2019-02-15 10:24] stevenroose commented on #631
Not necessarily. You can decide both ways: either (1) you keep using your own E2EE scheme and implement it as a proprietary extension (when using a good XMPP library, it should be trivial to wrap that scheme in an extension); this has the downside that users will only be able to use this E2EE with other Wire servers that known this module. Or (2) you decide that it's valuable for Wire users to be

[2019-02-15 10:38] neongreen commented on #631
Oh, that's interesting to know. I didn't realise this.

[2019-02-22 02:33] ericfjl opened #643 "why not use zeromq"
there are so many node in wire service ：like brig 、galley、cannon、cargohold、restund and so on，use zeromq（zmq） can quickly and simpley to tranfer data

[2019-02-22 08:38] fisx commented on #643
Thanks for your interest in wire!  :-)

I doubt zeromq will float to the top of our priority list any time soon; the internal rest APIs we use are not perfect, but more than adequate in terms of performance, stability, and maintainability.  Also, we tend to favour pure Haskell solutions over bindings into C++ code.

If you want to implement this, please re-open this issue and make a strong case fo

[2019-02-22 08:38] #643 closed

[2019-03-12 10:01] fisx opened #656 "SAML auth: handling whitespace incompatible with ADFS"
The SAML2 implementation of Active Directory Federation Services (ADFS) constructs authentication responses that contain whitespace.  Signature validation on these responses fails if they are accepted and canonicalized as is; but succeeds if we remove the whitespace manually before validating the signature.

Removing the whitespace would be a legitimate form of canonicalization, however it's in co

[2019-03-14 13:12] julialongtin commented on #327
Per https://github.com/wireapp/wire-server/issues/430, we believe this issue, and the one described in 430 are closely related, and possibly the same issue.

To reproduce the exact issue shown in #430 :

[code]
Once the services have started (you will see the docker-ephemeral_db_migration scripts exit), open up another terminal, and:

[code]

now open up another terminal window, and try to activat

[2019-03-14 13:35] julialongtin commented on #327
This is the same error message as https://github.com/openssl/openssl/issues/7488 . Examining our exception handling.

[2019-03-14 17:21] fisx commented on #327
the exception is thrown synchronously [here](https://github.com/wireapp/wire-server/blob/2df99d8d599385862e513f70bda70c49eb7f50cf/services/brig/src/Brig/Data/Activation.hs#L128): if you `error` out before this line (after `mkActivationKey` has returned), it throws; after that line the puzzling ssl-non-ssl-error is thrown in stead.

[2019-03-14 17:36] fisx commented on #327
see also: https://github.com/wireapp/wire-server/pull/661

we may want to try to reproduce this on that version of cql-io.

[2019-03-16 03:09] nboooob opened #664 "service stress testing report some error"
i have built wire server, and does the stress testing(one server).
the service has report some  exception log:
1.  brig sometime report log: E, request=d921b935fb80cfa6ea20da57452f13a4, Network.Socket.sendBuf: resource vanished (Broken pipe)
2. gundeck some log: RPCException {remote = "cannon", path = "/i/bulkpush", .......responseTimeout      = ResponseTimeoutMicro 3000000
3. gundeck some log:
Ht

[2019-03-16 19:39] fisx commented on #664
which commit are you building on?  how do you set things up, eg. are you following the README in this repo?  what does your config look like?  what do you mean by stress testing?

[2019-03-19 10:37] julialongtin commented on #327
Note that when we've added code to catch the exception, we're finding it has type 'IOException'.

[2019-03-19 15:58] julialongtin commented on #327
This exception is being thrown when we call runClient.

[2019-03-20 10:46] julialongtin commented on #327
in sendActivationCode the offending operation is performed when we call Data.lookupActivationCode.

[2019-03-20 11:22] julialongtin commented on #327
and in lookupActivationCode, the problem occurs when we call query1, which is what calls runClient.

[2019-03-21 17:14] fisx commented on #656
Sorry, this was automatically closed by github.  I will keep it open until it's released and has been proven to work in production.

[2019-03-22 10:58] limengyu1990 opened #673 "redundant cassandra write in renewCookie"
[code]
hoho，It seems to have executed the same insert statement twice (DB.insertCookie) ? No problem?

[2019-03-22 16:24] fisx commented on #673
that's in two different functions: the second is for the case where the client connects without a cookie and needs to obtain one; the first is for the case where a cookie is about to expire and needs to be replaced.  if one function gets called, the other doesn't (at least not at that time).

if you are referring to the two calls to `insertCookie` in `renewCookie`: one is for storing the new cooki

[2019-03-22 16:27] fisx commented on #664
closing this since we cannot reproduce this without further details.  feel free to reopen if you have answers to my questions above.

thanks!

[2019-03-22 16:27] #664 closed

[2019-03-23 04:18] limengyu1990 commented on #673
[code]

I mean: inside the `renewCookie` function, the `newCookie` function is called indirectly. At this point, the two functions are executed in one request, and `DB.insertCookie uc Nothing` is called inside the `newCookie` function. Save the new cookie and return a new cookie, so I think the first `DB.insertCookie` in the `renewCookie` function is redundant. (I think `DB.insertCookie` has been

[2019-03-25 09:00] fisx commented on #673
oops, you're right.  thanks for persisting!  :-)

i am not worried about this, the second insert is obviously redundant, but doesn't do any harm either.  But I now agree we should fix this.  Would you like to make a PR?  If not, I may get around to doing it eventually.

[2019-03-26 09:50] mikroice90 opened #678 "System.Logger does not export "simpleSettings""
Hi,

when i try to do **make** on wire-server cloned repository i get this error.

![logger error](https://user-images.githubusercontent.com/48946750/54987450-e9661600-4fb4-11e9-8eaf-5593a02a6ea2.JPG)

How to fix it?
It looks like whis method did not exist in included libraries.
Thaks in advice for help.

[2019-03-26 09:57] fisx commented on #678
We are currently running on [this branch of tinylog](https://github.com/wireapp/wire-server/issues/678).  stack should have picked this up from the entry in `stack.yaml`.  Which wire-server commit are you on?

[2019-03-26 10:01] mikroice90 commented on #678
The newest one (I think). I cloned it at friday.

[2019-03-26 12:49] ChrisPenner commented on #678
These errors further imply that somehow it's building against a non-forked version of `tinylog` (we added new' and simpleSettings);

Please double check that you see this in your stack.yaml:
[code]

And also please try upgrading stack to latest (1.9.3) using `stack upgrade`; it's possible your version of stack doesn't understand the (relatively new) `git` extra-deps specification 😄

[2019-03-26 14:06] fisx commented on #673
fixed in #676

[2019-03-26 14:06] #673 closed

[2019-03-26 17:20] paride opened #679 "Wire SMS activation code does not change."
If I register to wire, delete my account, and then register again, the activation code I receive via SMS is always the same. It is expected to be random for obvious security reasons.

[2019-03-26 23:06] fisx commented on #679
Heyo, this is working as intended (which of course doesn't mean that it's correct :-).

Off the top of my head (I only remember we discussed this internally, but I'm hazy about the details): the code is only re-used if you use the same email / phone number within the life time of the old code.  If you would get a different code each time you ask, the following could happen: user requests code, wai

[2019-03-27 07:49] mikroice90 commented on #678
I have both. Look at this please

![extra-deps](https://user-images.githubusercontent.com/48946750/55058752-36a5be80-506d-11e9-9f0f-1604fa3f1197.JPG)

and stack version

![stack_version](https://user-images.githubusercontent.com/48946750/55058765-3dcccc80-506d-11e9-9c7f-bcd9e0105bda.JPG)

Any other ideas, why this didn't work?

[2019-03-27 08:13] fisx commented on #678
Could you do a `stack clean --full` and try again?  Can you see a `git clone` with the above commit hash in the output?

[2019-03-27 08:17] mikroice90 commented on #678
When i made `stack clean --full` I've got this

![image](https://user-images.githubusercontent.com/48946750/55060110-0102d480-5071-11e9-9e19-7dfa9cf38bca.png)

earlier I bypass it by "by hand" cloning link adding .git extention at the end ot the rspository

[2019-03-27 08:30] fisx commented on #678
Ok, that would have been relevant enough to be added to this issue in the beginning.  :-)

What would you like us to do about your network failing?

You may be able to pull it of with your work-around, but you need to pull the right commit.  Until something changes on that branch (unlikely until we bumped the dependency to the next tinylog release and this all becomes irrelevant), you can do this:

[2019-03-27 08:44] mikroice90 commented on #678
Still it looks like this

![image](https://user-images.githubusercontent.com/48946750/55061807-e7fc2280-5074-11e9-858f-b1730620e8a5.png)

I have no problem with internet connection.

[2019-03-27 09:07] fisx commented on #678
I would call "the remote end hung up unexpectedly" a network issue, and it's certainly not something we can help you with.

It looks like you are downloading the right commit now, but I'm not sure it's to the right location.  If manually injecting this dependency into your .stack-work doesn't work, you will need to find out why you can't download it the usual way.

Also in the future, could you pa

[2019-03-27 09:13] mikroice90 commented on #678
Ok, after adding `.git` after tunylog and then running command that You propose me earlier. It's finally work.

Thanks for help and for the patience

[2019-03-27 09:13] #678 closed

[2019-03-27 09:50] fisx commented on #678
Interesting, I wouldn't have expected the suffix makes any difference.

Glad you figured it out!  :-)

[2019-03-27 14:50] m15k commented on #679
Sounds to me like it is a fairly good trade between security and accessibility to me. I’ve wrestled with SMS tokens and have come to a similar conclusion based on the population of users. Wire users could be more sophisticated, necessitating moving the slider more towards security.

[2019-03-27 15:13] jschaul commented on #679
Current TTL on codes is 24 hours. So this only happens if you register, delete, and register again, all within 24 hours.

Deleting your account and re-registering using the same phone number will still create a fresh account. Any previous devices, connections and conversations you had are no longer available on that new account.

There is actually one very slight improvement we could make here (he

[2019-03-28 08:37] mikroice90 opened #690 "Cassandra thrift/nodetool error"
Hi,

when I trying to made `sydo deploy/docker-ephemeral/run.sh` i get this error:
![image](https://user-images.githubusercontent.com/48946750/55142451-f3b31c00-513c-11e9-9d57-c3ed2f328f8a.png)

I really don't know what it is going on. I customized demo-server twice on Ubuntu and there were no problems. Now when I am using CentOS 7, I have some new issues.

Thanks for help in advice.

[2019-03-28 09:16] fisx commented on #656
Issue persists after release https://github.com/wireapp/wire-server/releases/tag/v2019-03-25

[2019-03-28 09:28] fisx commented on #690
it would really help if you could paste errors as text, not as images.

[2019-03-28 10:01] mikroice90 commented on #690
Here You are:
demo_wire_cassandra          | INFO  [main] 2019-03-28 08:13:38,270 Server.java:156 - Starting listening for CQL clients on /0.0.0.0:9042 (unencrypted)...
demo_wire_cassandra          | INFO  [main] 2019-03-28 08:13:39,128 CassandraDaemon.java:556 - Not starting RPC server as requested. Use JMX (StorageService->startRPCServer()) or nodetool (enablethrift) to start it

[2019-03-28 11:44] julialongtin commented on #690
Can you contact cassandra on the listed port? Is this causing a problem
when running the integration test?

On Thu, Mar 28, 2019 at 10:12 AM mikroice90 <notifications@github.com>
wrote:

[2019-03-28 11:48] ChrisPenner commented on #690
@mikroice90 does this cause any actual problems for you in practice? I see the same error, but all of my tests still pass and things work as expected.

[2019-03-28 12:16] mikroice90 commented on #690
Can You still made `deploy/services/demo.sh` and after it log in to server?

[2019-03-28 15:33] tiago-loureiro commented on #690
This will work fine as soon as https://github.com/wireapp/wire-server/pull/694 gets merged in. Once that is done, running both:
`./deploy/docker-ephemeral/run.sh`
and
`deploy/services/demo.sh`
will work fine.

[2019-03-28 15:35] tiago-loureiro commented on #616
Hi @gabek001

Please refer to https://github.com/wireapp/wire-webapp/wiki/Self-hosting in order to figure out how to configure the webapp to point to a custom backend.

[2019-03-28 15:35] #616 closed

[2019-03-28 15:37] tiago-loureiro commented on #341
@sd166 we are not able to reproduce this anymore; please use the latest code from develop and retry it, let us know if there is any change.

Meanwhile, I will close this issue, feel free to reopen it or open a new one if the problem persists.

[2019-03-28 15:37] #341 closed

[2019-03-28 15:42] tiago-loureiro commented on #615
@gabek001 thanks for opening this issue.

Can you share the output of your logs please to get a better insight as to what is going on?

[2019-03-28 15:44] tiago-loureiro commented on #690
@mikroice90 `develop` now works fine. The error described:

_CassandraDaemon.java:556 - Not starting RPC server as requested. Use JMX (StorageService->startRPCServer()) or nodetool (enablethrift) to start it_

is not a problem either to run integration tests nor the demo.

[2019-04-03 13:06] fisx opened #700 "Accept idp metadata urls on /identity-providers (spar)"
### status

approval pending.

### description

Currently, we expect the body to be xml, with the appropriate content-type.  We should also accept content-type `application/json` with this in the body:

[code]

This should be handled by getting the URL and parsing the body as XML.  In case of success, the URL can be forgotten (should be part of the XML document, too, but we don't use it from this

[2019-04-03 13:34] elyasimo opened #701 "wire:sso:error:bad-username with OpenAM and shibboleth"
Hello,

I face the following error when trying to log in with IDP on my test of SSO.
I can't find documentation or can read the code well enough to figure out what is missing.
So far I saw that the error get's thrown in `createBrigUser` of `/services/spar/src/Spar/Intra/Brig.hs`. For me it looks like the value of `<NameId>` in my case 'testuser' should be used to create the new user in Brig. But i

[2019-04-04 10:45] fisx commented on #701
Thanks for the concise and helpful report!

I think the problem is that your `NameID` has qualifiers.  This creates a risk of name clashes, where two names with different qualifiers should be different, but map to the same wire name.  To avoid this risk, [we rather respond with an error](https://github.com/wireapp/saml2-web-sso/blob/8d75bef6eb55732b256cb822fb40de08614ed8b2/src/SAML2/WebSSO/Types.h

[2019-04-04 15:22] fisx opened #703 "spar end-points should respond with json body in case of error."
The body of all spar errors should contain the usual error information, like:

[code]

End-points to check:

- [x] `delete /identity-providers/{id}`
- [x] `get /identity-providers/{id}`
- [x] `get /identity-providers`
- [x] `put /identity-providers`
- [x] `post /identity-providers`
- [x] `delete /scim/auth-tokens`
- [x] `get /scim/auth-tokens`
- [x] `post /scim/auth-tokens`

Other things to check:

[2019-04-04 15:32] fisx commented on #703
ping @Yserz

[2019-04-05 09:07] ChrisPenner commented on #703
@fisx This can probably be done generically in the error-catching middleware right? Just thinking we should try to make this as consistent as possible, so middleware would be a good place if it's possible 👍

[2019-04-05 10:02] fisx commented on #703
Not sure a middleware works here.  The `Error` type isn't available in the middleware any more, but I'd like to cosntruct the body from that, somewhere in `Spar.Error`.  I'm open to discussing this further, but my current view is that all user errors and those 5xx errors where it's possible should be handled there where we have all the types, not in a middleware.

What I'm uncertain about is how t

[2019-04-07 19:25] techindustan opened #705 "How can we setup production wire server?"
Are there any steps to set up wire server with production architecture? We want to set up wire on our servers and don't call wire stuff. Is there a way?

[2019-04-08 07:11] fisx commented on #705
Please read [the documentation](https://github.com/wireapp/wire-server#how-to-install-and-run-wire-server).

It's certainly not as polished as it could be, so feel free to open a new issue if you have any specific questions that are not answered there.

Thanks and enjoy!

[2019-04-08 07:11] #705 closed

[2019-04-10 14:49] fisx commented on #701
Should be fixed with https://github.com/wireapp/wire-server/releases/tag/v2019-04-09

Please re-open if you still have problems.

Thanks again for reporting this!

[2019-04-10 14:49] #701 closed

[2019-04-11 07:17] R4m4n opened #711 "Getting issue while running make command."
I'm trying to set up wire development on Linux Debian 4.9.130-2.

[code]

and on the compilation of singleton promote:
[code]

[2019-04-11 08:23] fisx commented on #2
There is now also https://github.com/wireapp/wire-server-deploy.  it is still an involved task to put it to work, but we are using it in production, so you should definitely take a look.  If you encounter any problems or have any questions, please open an issue there.

[2019-04-11 08:23] #2 closed

[2019-04-11 08:34] fisx commented on #711
[Note that we currently do not support debian.](https://github.com/wireapp/wire-server/issues/327)

Workaround: you can run the `docker-builder` docker image interactively and try everything out inside of it, or run Ubuntu in some other fashion.

It is not a high-priority issue for us, that's why it is taking os long.  But it is quite irritating and any help with that would be greatly appreciated.

[2019-04-11 09:23] elyasimo commented on #701
Thank you for the fast response! It works now.

[2019-04-11 09:37] R4m4n commented on #711
@fisx

- what is your stack version?
               Version 1.9.3

- have you tried stack clean --full from the project root?
      Yes, and it didn't work.

- can you give us more context about what you did?
      I set up the Wire-Server from the development branch and then set up the dependencies from [dependencies](https://github.com/wireapp/wire-server/blob/develop/docs/developer/dependencies

[2019-04-11 09:53] limengyu1990 opened #712 "Create a test user shell script result output format (csv)"
[code]
When I execute on mac, the output is:
[code]
I can't match the id. After escaping the double quotes (\\"\\"), I get the expected result:
[code]

I think wire is also intended to output result formats like `id, email, password`.

[2019-04-11 12:43] jschaul commented on #2
(Minor correction: we are planning to use https://github.com/wireapp/wire-server-deploy in production - migrating to it for us will still take some time - but if you're starting with a fresh installation, definitely take a look there)

[2019-04-12 09:14] limengyu1990 opened #715 "`gundeck` takes up a lot of memory"
I executed `api-loadtest` with the following command parameters and found that gundeck would consume a lot of memory and cause the program to crash. I want to know which conditions would cause `gundeck` to take up so much memory? I used the same parameters to run multiple times, only successfully run very few times(gundeck uses very little memory), in most cases, the memory is not enough and crash

[2019-04-12 09:57] julialongtin commented on #438
@o-u-p My apologies for not getting to your question earlier. Nginz is indeed mostly like nginx, but due to the time that has passed since your request, I'm going to close this issue, as i hope you've figgured it out. Feel free to open a new issue if you continue to have trouble.

[2019-04-12 09:57] #438 closed

[2019-04-12 09:57] julialongtin commented on #504
Closing issue, as it appears to have been resolved.

[2019-04-12 09:57] #504 closed

[2019-04-12 10:03] julialongtin commented on #564
Closing this issue, as it looks like @romanrev has it all figured out.

[2019-04-12 10:03] #564 closed

[2019-04-12 10:12] limengyu1990 commented on #715
[code]
There are many errors in the log.

[2019-04-12 10:21] R4m4n opened #716 "Error while nginz make command"
I am getting an error during
`make -C services/nginz`
Error:
[code]
I used one of the keys from https://nginx.org/en/pgp_keys.html, as suggested above and imported it using:
`gpg --import ../key/nginx_signing.key `

But I am still getting the same error.

I also tried gpg --recv-keys:
`gpg --recv-keys <THE RSA KEY>`

The error is still same.

[2019-04-12 10:38] tiago-loureiro commented on #716
Have you tried importing _all the keys_ available at https://nginx.org/en/pgp_keys.html?

[2019-04-12 10:50] limengyu1990 commented on #715
[code]
When I removed the websockets parameter, I can see the result of the success.

Need to configure these two parameters when load-test?

[2019-04-12 12:09] R4m4n commented on #716
No I didn't, now I did, thanks that worked. 👍

[2019-04-12 12:33] #716 closed

[2019-04-15 08:56] fisx commented on #712
So what happens is that `sed` doesn't match the pattern that is supposed to extract the `id` field from the json object, and leaves the entire object intact.

The value that you show contains a space in the `id` field; if i fix that, it works fine:

[code]

Are you sure you got this spurious space from the wire backend?  If so, I would be very interested in help to reproduce this.

Other ideas: wh

[2019-04-15 09:51] fisx commented on #711
This all seems fine.

Since we

- I can't reproduce this (build from scratch works fine on two of my debian machines);
- We do not support *running* the backend executables on debian;
- This very much looks like a stack issue, even though I don't know what else to do after `clean --full`;

I am inclined to close this.  Can you reproduce the issue on Ubuntu, or any other system?

[2019-04-15 11:25] limengyu1990 commented on #712
The space in the id is my mistake ^_^ ,  I tried again. The sed on the Linux server does not need to escape double quotes (\\"\\"). The sed on the Mac notebook needs to escape double quotes. Most of the production environment is Use the Linux server, so this issue can be closed.

[2019-04-15 11:25] #712 closed

[2019-04-15 11:47] R4m4n commented on #711
No, I didn't get any error while setting up in Ubuntu.

[2019-04-16 12:16] fisx commented on #711
Ok, I will close it, then.  Please re-open if you prefer, especially if can reproduce it on any other platform.  Thanks!

[2019-04-16 12:16] #711 closed

[2019-04-23 09:38] fisx commented on #703
@Yserz I get json errors when I try this:

[code]

It's probably just *some* errors that have this problem.  Can you help me reproduce this?

[2019-04-23 09:51] fisx commented on #703
ah, as discussed off-line:

[code]

thanks!

[2019-04-24 12:24] R4m4n opened #726 "Getting error while hitting the /assets/v3 API from web app."
When using the wire-webapp the assets are not being loaded, and everything is working fine in the Android and iOS.

When the user logs in, then the s3 URL is giving this error:

`refused to connect to 'https://s3.us-east-1.amazonaws.com/<bucket_name>/v3/persistent/a4ced4d2-be1a-4207-bba7-0d1493183ad8?Expires=1556108449&AWSAccessKeyId=AKIAIRVEYKR7SKRQXT2Q&SignatureMethod=HmacSHA256&Signature=5YjpFv

[2019-04-24 13:31] tiago-loureiro commented on #726
Hi @R4m4n

This is likely a configuration error on the server (strange that it does not occur on other platforms). Somewhere there is a default value with the value of `api.example.com`, difficult to say what/where without further information.

[2019-04-24 14:03] R4m4n commented on #726
@tiago-loureiro
When I look into the networks menu the response is not returned and the response menu is empty.
![Screenshot 2019-04-24 at 7 32 38 PM](https://user-images.githubusercontent.com/31612751/56665481-c3bd5100-66c7-11e9-8cb0-a5b950e199b2.png)
![Screenshot 2019-04-24 at 7 24 30 PM](https://user-images.githubusercontent.com/31612751/56665490-c8820500-66c7-11e9-9c43-991532ac6636.png)

[2019-04-24 14:27] tiago-loureiro commented on #726
Have a look at: https://github.com/wireapp/wire-webapp/wiki/Self-hosting#general-configuration

You may want to add `https://s3.us-east-1.amazonaws.com` to `CSP_EXTRA_CONNECT_SRC, CSP_EXTRA_IMG_SRC, CSP_EXTRA_MEDIA_SRC `

[2019-04-24 18:25] R4m4n commented on #726
@tiago-loureiro I was missing these settings in the .env file.

That worked and everything's working fine now.

Thanks!!

[2019-04-25 04:06] limengyu1990 opened #727 "Not in scope: ‘Log.new'’"
[code]

Hi, I encountered this problem while performing the `make install`, can you help me? thanks

[2019-04-25 04:26] limengyu1990 commented on #727
#678

[2019-04-25 04:27] #727 closed

[2019-04-25 06:03] tiago-loureiro commented on #726
Happy to have helped!

[2019-04-25 06:03] #726 closed

[2019-04-25 12:44] fisx commented on #656
This turned out to be a clock drift issue.  Confirmed on an internal test system.  This only affects IdPs with skewed system clocks.  The next release after this comment will likely contain https://github.com/wireapp/wire-server/pull/730, which makes wire accept clock drifts up to 60 seconds.

[2019-04-25 12:44] #656 closed

[2019-04-25 19:58] R4m4n opened #732 "Error while signing up using twilio API."
When I try to create an account using my phone number I'm getting this error in the console:

`SMS failed., error=MessageErrorResponse {erStatus = MessageOther, erErrorText = Just "Bad Credentials"}, phone=<phone>`

and
`ErrorResponse {errStatus = 400, errMessage = "The 'From' number <insert-sender-number-here> is not a valid phone number, shortcode, or alphanumeric sender ID.", errCode = Just 212

[2019-04-25 20:50] jschaul commented on #732
It's in the brig.yaml configuration. See `smsSender`. Feel free to make a PR to improve documentation around this.

[2019-04-26 09:39] R4m4n commented on #732
Alright, Thanks @jschaul. Twilio is now working fine.

I have requested the merge pull request.

[2019-04-26 10:58] limengyu1990 commented on #715
Server Info
[code]

[2019-04-29 08:46] ChrisPenner commented on #715
From our metrics it definitely looks like a memory-leak; we definitely should run a profile on it and try to find it; I'll add it to my list of things to look into. We're seeing it on production as well; but our production machine has enough memory that it only crashes ~once a week; but this is of course more of an issue when running on Kubernetes. I'll look into it; thanks for the report! 😄

![im

[2019-04-29 08:58] limengyu1990 commented on #715
The `/i/monitoring` interface of `cannon` can be seen that there are currently 2000 websocket connections online:
[code]
`gundeck` log output:
There are a lot of "WebSocket presence unreachable:" messages，Then `gundeck` memory starts to grow wildly.
[code]

Is it because `c <- D.lookup k d` does not query the corresponding websocket connection? ? The `/i/monitoring` interface responds with 2000 co

[2019-04-29 09:16] ChrisPenner commented on #715
Running gundeck with [memory profiling enabled](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/profiling.html#profiling-memory-usage) is likely to be enlightening; if you've got a chance to try it out please share the results :) Otherwise I'll try my best to get to it soon 😄

[2019-04-29 10:55] R4m4n opened #739 "Error while running demos.sh, not being able to set up the SMTP details in brig.demo.yaml."
Everything was working fine but when I restarted EC2 instance and then ran again the demo.sh, then brig is not getting started.

I'm getting this:

[code]
This error just poped up and before everything was working fine.
`brig: Network.Socket.connect: <socket: 13>: does not exist (Network is unreachable)`

and when I try to open swagger-ui:
`2019/04/29 10:09:04 [error] 15037#0: *9 connect() failed

[2019-04-29 11:31] R4m4n commented on #739
It was the issue with SMTP configuration, I reverted the changes and now everything's working fine, But I'm still not able to set up the SMTP.
I've changed these:
[code]
and ` emailSender: backend-demo@mail.wiredemo.example.com`
to my SMTP configurations in the deploy/services-demo/conf/brig.demo.yaml  file.
No Email is being sent using 2500 port or not even using my SMTP configurations.

[2019-04-29 14:08] #739 closed

[2019-04-30 01:53] limengyu1990 commented on #715
ok, I have no experience in performance analysis before. I will try it now. If I can find the problem, I will share it for the first time

[2019-04-30 02:34] limengyu1990 commented on #715
![image](https://user-images.githubusercontent.com/8828406/56938256-77449c00-6b33-11e9-913f-3e17297f690c.png)

[2019-04-30 07:11] dypgit commented on #715
here is the report ,maybe can help you.
![haskell_report](https://user-images.githubusercontent.com/9402796/56945573-301dd180-6b5a-11e9-8025-48db29d3c631.jpeg)

[2019-04-30 11:47] R4m4n opened #744 "Getting Error: "Empty TURN list" while trying to use audio and video call."
When trying to connect using audio and video calls, I'm getting:

`[brig] E, request=d88126e2b7144b04d4773111f037b578, Empty TURN list, check turn file! CallStack (from HasCallStack):   error, called at src/Brig/App.hs:257:31 in brig-1.35.0-Fg0EoeQZ8mD7xkabAFGd0V:Brig.App`

`[brig] D, code=500, label=server-error, request=d88126e2b7144b04d4773111f037b578, "Server Error"`

I've set up the TURN usin

[2019-05-01 15:56] tiago-loureiro commented on #744
The issue is not about the turn server itself but about advertising it. Brig expects a list of TURN urls, just like you see in this example: https://github.com/wireapp/wire-server/tree/develop/deploy/services-demo/resources/turn

[2019-05-01 19:32] R4m4n commented on #744
These files exist in the server that I deployed on my server. Am I supposed to make changes to these files?
Or add more?

[2019-05-01 21:07] tiago-loureiro commented on #744
Difficult to say what can be wrong without more info; potentially if u show the config of the TURN servers and the url on the config file.

[2019-05-02 06:49] R4m4n commented on #744
I've followed this:
https://nil.uniza.sk/installing-and-configuring-restund-stunturn-server/

and user 127.0.0.1 as the Ip as I'm setting up the TURN on the same server. Am I supposed to use a different IP or set it up on a different server?

[2019-05-02 08:24] ChrisPenner commented on #715
It's interesting that the memory seems to grow uniformly across all allocations; that suggests to me that Requests aren't getting cleaned up properly. We've noticed in our metrics that the memory leaks have gotten worse due to a recent release which added a few new middlewares; so I'll look into those next 😄

Thanks for providing the memory profile, it's very helpful.

[2019-05-02 19:27] #732 closed

[2019-05-07 02:39] limengyu1990 commented on #715
@ChrisPenner  Your judgment is correct. When I observe the memory growth through monitoring, the number of connections of gundeck has been continuously increasing.
[code]
@ChrisPenner There is also a question, gundeck is a stateless application, but also support the deployment of multiple nodes?

[2019-05-07 08:47] fisx commented on #715
that's correct.  gundeck has no state and we always run multiple nodes of it in prod.

[2019-05-07 09:22] limengyu1990 commented on #715
[code]
@fisx  thank you for your reply.
@ChrisPenner  When a large number of requests, this code seems to generate uuid failure, resulting in excessive memory consumption until it crashes.  If you have time, you can see if there is really a problem here. I'm not sure, I just observed that most of the requests stayed here, without executing the code behind.

[2019-05-07 09:32] R4m4n commented on #744
@tiago-loureiro Anything I should try or missing here?

[2019-05-07 10:11] tiago-loureiro commented on #744
Can you please share:
 * brig's log
 * content of of your turn-servers.txt (or similar file pointed to from brig's config)
 * content of the turn config server

[2019-05-07 10:18] jschaul commented on #744
Your TURN server needs to have a public IP (reachable from anywhere in the internet). This needs to be in the configuration file for the TURN server itself. Brig's configuration must use that same (public) IP. Using 127.0.0.1 will not work.

[2019-05-07 10:49] R4m4n commented on #744
@jschaul
If I try to run it on public IP I get this error:
`udp listen x.x.x.x:3478: Cannot assign requested address.`

[2019-05-07 11:20] R4m4n commented on #744
@tiago-loureiro

brig's log shown no error and nothing related to the call:

[code]
content of of your turn-servers.txt:

`turn:127.0.0.1:3478`

content of the turn config server:
[code]

[2019-05-07 11:45] ChrisPenner commented on #715
Interesting;

from the docs:

Perhaps we need a more reliable way to generate IDs under high pressure.

[2019-05-08 07:55] limengyu1990 commented on #715
I commented out all the time-consuming logic and used a default UUID value as the NotificationId, which still consumes a lot of memory.
There are 99 pieces of data in the parameter of the `pushAny` function (ps::[Push]).
A lot of tasks have not finished executing the `pushAny` function, staying here, the time-consuming logic has been commented out, and the execution is still very slow.

[code]

[2019-05-08 08:54] fisx commented on #715
IIRC `pushAny` shouldn't be reachable.  Your config file should contain this:

[code]

If it doesn't, you will actually reach `pushAny` at runtime, but you still don't want to.  It's old code that has been optimized away.

So, what's your `bulkPush` value?  What happens if you change it?

[2019-05-08 09:11] R4m4n commented on #744
It's working now, the issue was with the private IPs that I was using.

[2019-05-08 09:11] #744 closed

[2019-05-08 09:25] limengyu1990 commented on #715
I used to test with `bulkPush:true` and the memory will skyrocket. Now I suspect that the request is too much, the gundeck processing speed can not keep up. I use the following parameters to test:
[code]
now I add `--step-delay=3000000` and try again.

[2019-05-08 09:48] jschaul commented on #744
Good to hear you managed to solve your issue!

We understand our documentation is perhaps not clear enough on some points. Would you be willing to make a PR to improve documentation on the points that were not clear for you? Possibly you could make changes to this file: https://github.com/wireapp/wire-server/tree/develop/services/restund/README.md
Thanks!

[2019-05-09 04:51] fisx commented on #715
hum, interesting indeed.

it's only called [in one place](https://github.com/wireapp/wire-server/blob/a6f16fa19a5d1488a76b5ec3728f828a77faa942/services/gundeck/src/Gundeck/Util.hs#L19) though, and that looks reasonably robust: it has to fail 10 times in a row, and if that fails we'll know from the logs.  i'm not sure if in cases where this actually happens a higher retry factor would help.  do you

[2019-05-09 08:16] R4m4n commented on #744
@jschaul Yeah Sure!

[2019-05-09 18:32] fisx commented on #715
hum...  it's not very likely, but conceivable that #751 fixes some of the problems discussed here.  it definitely solves a problem with web socket connections not being closed gracefully.

[2019-05-10 08:07] limengyu1990 opened #753 "Error "make services""
When I execute `make services`, I am prompted with this error, how can I solve it?
If I have installed cargo, executing `make services` will automatically install libzauth?
[code]

#####  Related dependence
[code]

[2019-05-10 08:19] limengyu1990 commented on #753
[code]

[2019-05-10 08:31] limengyu1990 commented on #753
I commented out the `git submodule update --init` in the `services/nginz/Makefile` file, and I can build it through, and the problem is solved.

[2019-05-10 08:31] #753 closed

[2019-05-13 09:07] limengyu1990 commented on #715
I synced the latest codes, and then tried the load test. After executing the `users/79d6416a-eac6-******-86d6a77bbeaf/prekeys` interface, it started to execute the assertion, and the gundeck memory did not grow (the previous code would Start growing immediately), but found a lot of `Assertion Timeout`, and the execution time is very long(takes a few hours), if the parameter is set to 2 robots 1 se

[2019-05-14 11:15] limengyu1990 commented on #715
Now the memory is not going up, but the load test is too time consuming. It takes 5 hours to run the load test and the final report is generated. Is this normal?
[code]

[2019-05-14 12:21] limengyu1990 commented on #715
@fisx  The situation that consumes a lot of memory still exists
![image](https://user-images.githubusercontent.com/8828406/57697446-d05d1580-7685-11e9-92c4-2bf4a2c6c3f4.png)

[2019-05-15 09:19] limengyu1990 commented on #715
[code]

[2019-05-15 11:23] limengyu1990 commented on #715
[code]

[2019-05-15 15:17] raman-techindustan opened #758 "Audio and video calls are only working on the same network."
When on a different network, calls are getting received but the gets disconnected after going in the connecting state.
Calls are working fine when on the same network.

[2019-05-16 11:49] limengyu1990 commented on #715
@ChrisPenner  @fisx
i have two doubts:
1: when `galley` calls `gundeck`, if a timeout occurs(retry 3 times),`galley` will actively disconnect,`nginz` response status code is 499, but `gundeck` will not disconnect, the connection status is `CLOSE_WAIT`, is there such a problem?
[code]

2:
If there are a large number of requests to send messages, gundeck handles busy, the `targets` line will query t

[2019-05-17 03:25] limengyu1990 commented on #715
[code]

[2019-05-17 10:29] R4m4n commented on #758
@jschaul @tiago-loureiro,
Anything I'm missing or need to make changes?

[2019-05-17 10:34] tiago-loureiro commented on #758
@R4m4n
Based on your comments here: https://github.com/wireapp/wire-server/issues/744, do you have a public IP that can be reached by the clients? Also, you need to make sure that UDP ports are available.

You can use: https://test.webrtc.org/ to check the connectivity to your TURN server (you can add custom TURN URIs).

[2019-05-23 10:14] limengyu1990 commented on #715
It seems that the request is too much, the gundeck is executed too slowly, resulting in memory growth, not a memory leak.

[2019-05-23 10:14] #715 closed

[2019-05-23 11:01] limengyu1990 opened #762 "Parameter dynamic configuration"
some deadly configuration suggestions are dynamically configured, When I was carrying out the load test, 2,500 people couldn't pass the test, 2,400 people could pass the test, then I tried to increase the value of `managerConnCount` and `managerIdleConnectionCount`, and then I could run 2,500 people successfully. are these two properties default to 1024 and 4096, is it appropriate?
`wire` has a st

[2019-05-27 22:36] baerbock opened #764 "Tests fail due to commitBuffer: invalid argument (invalid character)"
While building this occurred. Distro is ArchLinux:
[code]

[2019-05-28 07:15] fisx commented on #764
I think we've seen this and decided it's not a serious problem, so fixing got postponed.  I don't suppose you still have the full log?  It also contains the quickcheck seed that we would need to reproduce this.

Thanks for reporting!

[2019-05-29 18:12] baerbock commented on #764
Logs for the failing tests:
[cannon-0.31.0.log](https://pastebin.com/sWSUFj0x)
[types-common-0.16.0.log](https://pastebin.com/xd9wFZrN)

And for the records:
[types-common-journal-0.1.0.log](https://pastebin.com/ERfGJzhr)

[2019-06-01 22:24] baerbock commented on #764
@fisx Have you read this? Sorry for asking.

[2019-06-02 11:16] fisx commented on #764
Yes, still here.  i can't find the error in the log files you post, though.  Am i reading them right?  Can you paste the quickcheck seed here?

This PR should fix your issue, though: https://github.com/wireapp/wire-server/pull/770

Please close this issue if you agree, or add more details if you disagree.

[2019-06-06 13:05] raman-techindustan commented on #758
@tiago-loureiro
Now I'm getting this in the stun log:

[code]

[2019-06-06 13:20] baerbock commented on #764
@fisx I've just cloned from master again and the error is still there.

May you please tell me where I can find the quickcheck seed?

[2019-06-06 13:31] fisx commented on #764
it's not merged on master yet, sorry!  only for the next release, which is not scheduled yet.  you can either check out develop, or merge the change to whichever branch you can best work on.

[2019-06-07 13:59] baerbock commented on #764
@fisx I've just tried to compile the _develop_ branch and the error remained.

[2019-06-10 13:56] raman-techindustan commented on #758
I was able to make it work by removing the auth from the restund configuration.

[2019-06-10 13:56] #758 closed

[2019-06-11 08:52] Mikaela opened #776 "Finnish users have issues receiving SMS verification codes"
Possibly related to https://github.com/wireapp/wire-server/issues/504 (Finland is +358)

I have three family members/friends who registered to Wire recently, two of them are using iOS, one Android tablet. When they initially attempted to register (three weeks ago, two weeks ago and today), they received error messages and didn't receive the SMS code, but adding the number afterwards worked. Howeve

[2019-06-11 12:33] R4m4n opened #777 "Dynamodb, Failed to establish a new connection."
While running, `deploy/docker-ephemeral/init.sh `, or `deploy/docker-ephemeral/run.sh`, in the wire-server root, I'm getting
`
HTTPConnectionPool(host='dynamodb', port=8000): Max retries exceeded with url: / (Caused by NewConnectionError('<botocore.awsrequest.AWSHTTPConnection object at 0x7ff6d71bcb70>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution',))
`
I'v

[2019-06-11 14:32] jschaul commented on #776
Hi @Mikaela

About the phone number issue: Thanks for reporting this. Yes indeed, we had blocked phone numbers starting with `+358 4` due to repeated abuse of our API using these phone numbers. These phone numbers are now unblocked again, and SMS codes should arrive again (though we may have to block certain phone number ranges in the future again).

About support tickets: I'm not sure what the pr

[2019-06-12 09:11] Mikaela commented on #776
Thanks for the fast response. Could the clients give more clear error about phone number rannge being blocked and suggest using email registration instead (and adding number afterwards in the settings)? Currently it seems like something is wrong with Wire, I have used multiple phone number based services and I have never before encountered number range being blocked and at first I thought it was j

[2019-06-13 22:02] tiago-loureiro commented on #776
Hi @Mikaela - thank you for following up on this!

Yes, we do send out proper response codes from the backend side of things, we will work on giving users a more detailed explanation as to what is going on the clients.

Yes, I believe you are talking about: https://github.com/wireapp/wire-android/pull/2122 which got merged to develop just yesterday.

As mentioned by @jschaul we suffered some abuse

[2019-06-15 21:10] Mikaela commented on #776
Thank you

[2019-06-15 21:10] #776 closed

[2019-06-16 10:53] L1Cafe commented on #631
I honestly do not think XMPP is a good idea. XMPP, in my opinion, is a badly designed protocol that doesn't enforce even the most basic XEP guidelines for implementing your own server, this means that there's a ridiculous amount of fragmentation between servers and clients. In most cases, users are completely blind and unable to check if a certain server supports certain features (such as push not

[2019-06-16 11:37] weiss commented on #631
I disagree with many details; e.g., while you consider it "completely unacceptable" to not enforce E2EE "in 2019", for me it's unacceptable have my communication rely on closed services that allow me to talk to their own customers only, in 2019.  As E2EE is especially hard to enforce on open networks, there's a trade-off, so I don't think there's a "right or wrong" here.  The difference is that E2

[2019-06-16 12:04] swedneck commented on #631
I just want to also bring https://matrix.org/docs/spec/ to attention, it's in my opinion better than XMPP.

[2019-06-16 12:58] akuckartz commented on #631
How?

[2019-06-16 13:35] L1Cafe commented on #631
Yes and no. The basic XMPP specification **requires** clients to be able to talk in cleartext. If you forced OMEMO in the Wire app to be able to talk to other XMPP clients, you wouldn't actually be adhering to the XMPP specification, would you?

This is similar to, for example, having an "FTP client" that only accepts FTPES. Or a web browser that cannot browse cleartext HTTP websites: It's not a w

[2019-06-16 13:41] JonahAragon commented on #631
What about incoming messages without E2EE enabled, or messages to XMPP users who’s clients don’t support E2EE? I’m not really familiar with XMPP or how it would handle those scenarios, but it doesn’t seem like the UX Wire users are looking for: seamless always-on E2EE. And I’d consider it unacceptable for E2EE to be disabled by either client in either scenario.

I’d imagine the Wire server federat

[2019-06-16 13:42] iNPUTmice commented on #631
Can you point me to the paragraph in the XMPP spec were it says clients MUST be able to send and receive plain text messages?

[2019-06-16 13:49] L1Cafe commented on #631
You understand that the X in XMPP means "estensible" and that XEPs are not part of the core protocol? It gets even worse if we stick to the specifications because OMEMO is deemed experimental: https://xmpp.org/extensions/xep-0384.html

The other alternative is OpenPGP, which is also experimental: https://xmpp.org/extensions/xep-0373.html

The situation with server to client and client to client en

[2019-06-16 13:53] iNPUTmice commented on #631
@L1Cafe you said the ›The basic XMPP specification requires clients to be able to talk in cleartext‹ and I was simply asking you to back this statement up with a quote from the spec.

[2019-06-16 13:54] L1Cafe commented on #631
Correction: TLS encryption is part of XMPP, but that only concerns client to server communication. We still have no standard way of client to client E2E encryption.

[2019-06-16 14:05] weiss commented on #631
The core XMPP RFC [specifies][1] TLS for server-to-server connections just fine ([for ages][2]), and there's no problem in practice at all.  I don't think such half-informed comments are useful.

But yes, standardization requires time and efforts, and yes, you don't have this issue when just hacking together a closed solution.  I still believe discussion of the pros and cons of these models is off

[2019-06-16 14:11] L1Cafe commented on #631
I don't think such passive-aggressive comments are useful either. I already corrected myself.

You are misrepresenting my arguments. I am not suggesting Wire rolls their own closed solution. Wire is open source, both client and server. I see no reason why you would infer I want Wire to use a closed source federated protocol. Actually, I'm implicitly suggesting the opposite: We can do better than X

[2019-06-16 22:22] stevenroose commented on #631
This is false. The XMPP protocol has ample way to discover which features and services are supported by your server.  That's crucial when a protocol is extensible and doesn't force a large set of minimal supported features upon implementers.

This argument is wrong. Perfectly possible to show a message "this contact's server does not support encrypted chatting" when a Wire user adds a Jabber user

[2019-06-17 16:31] skddc commented on #631
I think both. Inter-wire because the protocol is a good basis for any kind of federated messaging, and to other XMPP servers because more people being able to talk to each other across app borders is generally a great thing.

By the way, there are many examples of companies using XMPP for their own use case without federating with the larger XMPP network. Some of the largest user bases:

* [WhatsA

[2019-06-17 16:47] stevenroose commented on #631
As far as I'm aware, the discussion originated with Wire showing interest in implementing federation between Wire servers. So the primary goal is for different Wire servers to be able to federate with each other. The reason for this issue and other ones mentioning XMPP is just a suggestion to use XMPP for this federation work. While XMPP might be a good choice even if Wire is not interested in fed

[2019-06-17 16:58] haskellGardener commented on #631
So for inter-wire servers XMPP is an established technology that could be constrained to meet wire specific security requirements, etc.

For general XMPP federation is there a straightforward way to ensure that user messages have the same or similar security as asserted by the wire marketing materials, or is egress from the secure wire world a risk that users of wire may not realize until too late

[2019-06-17 22:00] stevenroose commented on #631
I don't know to the full extend what you mean with "security as asserted by the wire marketing materials". Basically when a Wire user adds an external user, it will provide a JID (Jabber ID) that is `account@server.tld`. The XMPP protocol has messages to probe the server for the features it supports.

In the case of E2EE, the server just needs to support PEP storage which all modern servers do. Th

[2019-06-18 04:52] R4m4n opened #786 "Is there an admin panel for the Wire?"
Is there any admin panel from where I can manage payments, settings and supervise users, etc.?

[2019-06-18 11:45] tiago-loureiro commented on #690
@mikroice90 is this still an issue? As described, the issue with cassandra is not the cause of the problem so I will close this issue.

Feel free to open a new issue with a specific error that is holding you back.

[2019-06-18 11:45] #690 closed

[2019-06-18 11:45] tiago-loureiro commented on #615
@gabek001 any updates on this topic?

[2019-06-18 14:05] haskellGardener commented on #631
My impression is that Wire has presented itself as being super secure. XMPP per se does not make guarantees like that. So general XMPP does not enforce much beyond perhaps encrypting the transport. So if users of Wire were to add XMPP users outside of the Wire system would there be any concerns that those users would be under the false impression that the XMPP non-wire users had a similar level of

[2019-06-18 14:17] skddc commented on #631
They do have a similar level of security, as long as they use OMEMO (or alternatively OTRv4 in the future). It's perfectly fine to not allow adding them as Wire contacts, if their account does not support a sufficient E2EE protocol.

[2019-06-18 14:41] haskellGardener commented on #631
So there would be a means to recognize those clients that don't support adequate security and exclude communication with them if so desired.

Thanks.

[2019-06-22 07:30] R4m4n commented on #777
@jschaul Continuously getting this error even when I set up on a different server, after stopping the services.
Any idea what could be causing this.

[2019-06-24 06:32] R4m4n commented on #777
@tiago-loureiro, This error has been a blocker for me to continue to the next process.

[2019-06-24 09:11] #762 closed

[2019-06-24 13:12] tiago-loureiro commented on #777
@R4m4n Running `deploy/docker-ephemeral/run.sh` is the correct thing to do.

You can try to `docker-compose stop` from the `deploy/docker-ephemeral` folder, and then re-run `deploy/docker-ephemeral/run.sh`.

[2019-06-24 14:10] R4m4n commented on #777
Thanks @tiago-loureiro, I've already tried that, but I'm getting,

`ERROR: for demo_wire_redis  cannot stop container: cf606ae776ff9f65149ffa80a08ea0c6b8a50bed295177996785bb2145d5d5f3: Cannot kill container cf606ae776ff9f65149ffa80a08ea0c6b8a50bed295177996785bb2145d5d5f3: unknown error after kill: runc did not terminate sucessfully: container_linux.go:388: signaling init process caused "permission

[2019-06-26 15:17] techindustan commented on #786
@tiago-loureiro Can you please help on this? Do we have a superadmin sort of thing built in Wire to manage payments, subscriptions, team licenses, etc.?

[2019-06-27 10:10] jschaul commented on #786
@techindustan @R4m4n please have a look at the enterprise section here: https://wire.com/en/pricing/

[2019-07-17 09:05] limengyu1990 opened #803 "make haddock error"
I am running the `make haddock` command and I get an error. i use mac system.
can I skip the failed package?
[code]

[2019-07-18 13:22] tiago-loureiro commented on #786
Please get in touch with us through the correct channel as mentioned by @jschaul if you are interested in such feature(s)

[2019-07-18 13:22] #786 closed

[2019-07-18 15:14] mlb5000 opened #806 "Unable to follow docker build procedures in tags, new or not"
Similar to #365, this issue has resurfaced with the `make docker-deps docker-intermediate docker-services` command, due to this commit in `cryptobox`: https://github.com/wireapp/cryptobox/commit/aadeb1c3e56b5e10d3c34bf8c8a9c525567ca860

In the `# compile cryptobox-c` phases of `Dockerfile.deps` and `Dockerfile.prebuilder` it should set the checkout to a specific tag to avoid this sort of thing. I

[2019-07-21 12:43] chazanov commented on #764
@fisx There is a similar error occurring for me:

[code]

What about reopenin this issue?

[2019-07-26 14:28] chazanov opened #810 "Test failure"
I'm getting a test failure when building

[code]

https://github.com/wireapp/wire-server/issues/764 states it has been fixed, but that's not correct.

[2019-07-30 07:10] fisx commented on #764
Sure.  I'm pretty certain this is an issue with the test, but of course that means it's still an issue.

Do you have time to investigate this?  Let me know if you want help!

[2019-07-30 07:12] fisx commented on #810
duplicate of #764 (sorry for the delay in responding!)

[2019-07-30 07:12] #810 closed

[2019-07-30 07:20] fisx commented on #764
I've re-read this issue, but I still don't know how to reproduce it.  Perhaps you can start by giving us more information?

[2019-07-31 00:15] chazanov commented on #764
@fisx I've just cloned git master, and ran `make`.
Do you know where I can find the `Logs printed to console`?
There is a file called `pkgdb/types-common-journal-0.1.0-GiJaXkYmImM7baKj2Pgty7.conf`, but it says not much to me ([Pastebin](https://pastebin.com/0a1phd64)).

If there would be a way to completely disable these tests!

[2019-07-31 10:24] fisx commented on #764
could you please, after the test failed:

[code]

and attach everything.log here?

[2019-07-31 19:51] chazanov commented on #764
That's weird: all passed:

[code]

[2019-08-01 05:18] fisx commented on #764
Then my money is on *something is wrong with your working copy, or your ./.stack-work or ~/.stack/*.

Can you please try this:

[code]

and attach `everything.log`.  if that reproduces your earlier problem, i will re-open this issue.

[2019-08-01 15:29] chazanov commented on #764
Here it is: https://pastebin.com/W5NpKCKi
(the path "/tmp/empty-directory/wire-server" was shortened)

Is this maybe a UTF-8 problem?
* https://github.com/wireapp/wire-server/issues/456
* https://github.com/wireapp/wire-server/pull/459
?

[2019-08-02 09:23] fisx opened #811 "Use uri-bytestring consistently"
We are using several URI types in our code, which is partly motivated by libraries making different choices, and partly by what was available in the olden times.

uri-bytestring is good in expressiveness of types and performance, and we should just use it everywhere.

[2019-08-02 09:25] fisx commented on #811
Here is some code for bilge that didn't make it out of #722:

[code]

[2019-08-02 10:45] fisx commented on #700
update: we decided against implementing metadata url handling: without an extra field containing a pinned server certificate, it is inacceptably vulnerable to rogue CA certs; with it, it has no clear advantage over just accepting the entire xml document.

we will still accept json containing the xml as a string (implemented in #722).

[2019-08-02 10:51] fisx opened #812 "Reduce duplication of mock https servers in integration tests."
There are a number of functions that create https servers for integration tests:

- https://github.com/wireapp/wire-server/blob/b266f9aae3ee8bf31ac83413b7e7f37feb8aa488/services/brig/test/integration/API/Provider.hs#L1519-L1531
- https://github.com/wireapp/wire-server/blob/b266f9aae3ee8bf31ac83413b7e7f37feb8aa488/services/galley/test/integration/API/Teams/LegalHold.hs#L805-L825
- ...?  (`git grep

[2019-08-04 17:24] fisx commented on #764
Yes, it looks like you've tripped over #456, but it's weird since that should be fixed in the [Makefile](https://github.com/wireapp/wire-server/blob/b8818b6c5ce3f66c1d917299d7658e057f18eca8/Makefile#L2).

Can you add the line:

[code]

to the make rule you are running, and tell me the output?

What OS / shell / terminal are you running on?

Or can you try this?

[code]

[2019-08-05 07:47] #700 closed

[2019-08-05 09:50] #703 closed

[2019-08-08 10:11] fisx opened #821 "Makefile glitch"
if you do

[code]

it will write to `services/galley/dist`, but it should write to `dist`.  Somewhere we probably need to make the path relative to the repo root, not to the working directory.

[2019-08-16 11:14] stevenroose commented on #631
How is progress going on this? Or is it summer also in open-source land?

[2019-08-22 11:27] jschaul commented on #631
We are not actively working on federation yet, as other topics currently have higher priority. Thanks for the discussion on this issue in any case, it will help us once we get to this topic.

[2019-08-24 06:56] R4m4n opened #837 "Error: Push token of unknown application: 'test', while hitting /push/token."
While hitting the API "POST /push/tokens", with data:

[code]

an error is being thrown:
`Push token of unknown application: 'test'`
What should be the value of the appName while storing the push token API?

[2019-09-05 18:06] jschaul commented on #837
There is no easy way for you to make use of push notifications at the moment.

To get this working, the following is needed:

* an AWS account is needed
* a google and apple account is needed
* mobile apps need to be compiled and signed with different keys, and put into the play/app store (this isn't really possible for you to do easily due to licences)
* You need to create SNS endpoints and datab

[2019-09-05 19:05] Lkopo opened #846 "Authentication failing"
About 5pm CEST I had connectivity issues with wire backend on both desktop / webapp and mobile. After a while, I got logged out from the Desktop app and wasn't able to login anymore.

I've looked at what requests were made and which failed and I've found out that login as well works fine, the token was received but another call to /self returned 420 error code which was displayed on the app as "Un

[2019-09-05 22:37] tiago-loureiro commented on #846
Hi @Lkopo thank you for opening up an issue and alerting us to this situation.

The pull request you are referring to was not deployed on any of our environments and thus could not be the cause of it.

A status code of 420 indicates that we are detecting too many requests coming from your client: we are currently investigating root cause but we have already taken preventive measures that should al

[2019-09-06 06:37] R4m4n commented on #837
Thanks for the answer @jschaul,
I've already solved this issue. The issue was with the app name in the SNS console.
In the file Arn.hs:

`let name = toText e <> "-" <> appNameText n`

appName was being used as "arn in yaml" + "-" + "'app' key in the request".

I just set the proper "Application platform name" and "test" after "-" on the SNS and then sent the "app" value as "test".
Now everything's

[2019-09-06 06:37] #837 closed

[2019-09-15 15:06] sasegcom opened #857 "install wire-server step by step ???"
Can anyone help me in the installation wire-server
Step by Step
Or heuristic to any document or file for the installation method
with ubuntu server 16.4

[2019-09-16 09:18] fisx commented on #857
Please check our documentation, starting from the links in the main README in this repository.  Also check `/docs` and https://docs.wire.com for things not referenced there.

If you have questions that are not answered by our docs, please open another issue.

[2019-09-16 09:18] #857 closed

[2019-09-17 10:33] R4m4n opened #859 "Getting error: " /onboarding/v3 " out of no-where."
`[error] 17710#0: *1 open() "/var/www/html/wire-server/deploy/services-demo/html/onboarding/v3" failed (2: No such file or directory), client: 127.0.0.1, server: , request: "POST /onboarding/v3 HTTP/1.1", host: "<example.com>"`

I'm getting this error out of no-where. It occurs suddenly sometimes but is working fine most of the time.
But when this issue occurs, there's a popup in the iOS device sh

[2019-09-17 15:53] R4m4n opened #860 "Getting 404 for "/password-reset"."
While hitting the reset password API from the swagger:
POST `http://example.com/password-reset`

Getting 404 Not Found error.

[2019-09-18 06:41] R4m4n commented on #860
@tiago-loureiro, any idea about this issue, I'm not able to reset my password from the accounts app and is showing 404 when hitting from the swagger or postman.

[2019-09-18 08:25] tiago-loureiro commented on #860
Hello @R4m4n
`example.com`, as the name indicates, is just a placeholder. You will need to replace that with your server's DNS name.

[2019-09-18 08:54] R4m4n commented on #860
@tiago-loureiro,
I used `example.com` as a placeholder, I'm using a proper domain name, and all other APIs are working fine except this one.

[2019-09-19 14:41] jschaul commented on #860
Hi @R4m4n , thanks for raising the issue. This is indeed a bug due to the nginx configuration you're using (you seem to be using the one from https://github.com/wireapp/wire-server/tree/develop/deploy/services-demo/conf/nginz) not being up-to-date. If you install wire-server on top of kubernetes, as detailed [here](https://docs.wire.com) using the nginx configuration from [here](https://github.com

[2019-09-19 15:08] jschaul commented on #859
Similar to #860 , the route is missing from the nginx configuration. Here, it's a `with_zauth` that is needed, it also points to `brig`.

[2019-09-19 19:29] R4m4n commented on #860
Thanks a lot, @jschaul,
It's working now, quick question,
Which one should I use to deploy and seem it work like production while making some changes in the code too?
"https://github.com/wireapp/wire-server/"
OR
"https://github.com/wireapp/wire-server-deploy/"

[2019-09-20 11:55] R4m4n commented on #859
Thank you @jschaul.

[2019-09-20 11:55] #859 closed

[2019-09-23 17:00] jschaul commented on #860
As written in the README, the docker-compose "installation" provided in https://github.com/wireapp/wire-server/ is for demo-purposes only, to try things on your laptop.

For a more serious deployment, please use the code on https://github.com/wireapp/wire-server-deploy and refer to documentation (work-in-progress, expect updates in the coming days/weeks, not done yet) on https://docs.wire.com

[2019-09-23 17:30] R4m4n commented on #860
Thanks a lot, @jschaul, really appreciate it.

[2019-09-23 17:30] #860 closed

[2019-10-11 10:59] strypey commented on #631
@L1cafe:

FWIW all the major browsers have announced [plans to enforce HTTPS](https://www.thesslstore.com/encryption-everywhere/browser-initiatves.aspx), giving webmasters enough transition time to learn how to use Let's Encrypt (or another cert authority), and get their sites working properly with HTTPS. Some browser features [already require HTTPS](https://www.digicert.com/blog/https-only-featur

[2019-10-11 11:13] strypey commented on #631
@ jschaul:

Thanks for the update. I think the most useful way to focus discussion in this issue is for those who are familiar with implementing XMPP to have a skim of the existing Wire code and give a general overview of what would need to be done to implement:
* a) XMPP federation between Wire servers
* b) XMPP API between Wire servers and clients

Keeping in mind it's possible to do one without

[2019-10-11 11:18] coderzstas opened #873 "makedeb"
* [x] I have seen https://docs.wire.com/ and https://github.com/wireapp/wire-server-deploy - the documentation there does not answer my question.

**My question:**

getting this error when trying to make makedeb

[code]

ubuntu 18

[2019-10-11 11:41] tiago-loureiro commented on #873
Hello @coderzstas

Can you make sure to add `/root/wire-server/tools/makedeb/dist` to your PATH? Or copy the `makedeb` executable to a place in your path (assuming something like `/usr/local/bin`)

[2019-10-11 13:22] coderzstas commented on #873
ok , that fixed ) thanks
now getting another error durring make step

`--  While building package brig-1.35.0 using:
      /root/.stack/setup-exe-cache/x86_64-linux/Cabal-simple_mPHDZzAJ_2.2.0.1_ghc-8.4.3 --builddir=.stack-work/dist/x86_64-linux/Cabal-2.2.0.1 build lib:brig exe:brig exe:brig-index exe:brig-integration exe:brig-schema --ghc-options " -fdiagnostics-color=always"
    Process exited w

[2019-10-14 14:48] coderzstas opened #874 "Galley Error"
* [x] I have seen https://docs.wire.com/ and https://github.com/wireapp/wire-server-deploy - the documentation there does not answer my question.

**My question:**
Getting this error when trying to run  **deploy/services-demo/demo.sh**

[2019-10-14 14:56] jschaul commented on #631
Update: internal discussions around federation (between Wire servers as a first step) are happening.

We have no plans to ever implement b) (to speak XMPP between Wire clients and Wire Servers.), or at least not in the next few years. So please don't focus your efforts on that part.

We plan to implement federation between Wire servers first. Whether that makes use of XMPP or not remains to be see

[2019-10-14 15:29] #873 closed

[2019-10-14 18:04] fisx commented on #874
it means that you need to add the feature flags config.  :)

[example](https://github.com/wireapp/wire-server/blob/develop/services/galley/galley.integration.yaml#L29-L31)

(please re-open if this wasn't helpful.)

[2019-10-14 18:04] #874 closed

[2019-10-15 23:39] mikemassing commented on #615
I ran into the same issue.
On terminal 1, start the dependencies;

Now check out the docker networks created;

Docker version 18.09.7, build 2d0083d

NETWORK ID          NAME                        DRIVER              SCOPE
dd440d194393        dockerephemeral_demo_wire   bridge              local

You can fix by changing the network references in;
deploy/services-demo/docker-compose.yaml to "docke

[2019-10-16 03:25] abbform opened #876 "is the code using S3 support V4 signature"
* [x] I have seen https://docs.wire.com/ and https://github.com/wireapp/wire-server-deploy - the documentation there does not answer my question.

**My question:**

I tried to use S3 provided by AWS, I found the wire-server use the V2 signature and the s3 service we got only supports V4 signature.

Is there anything I could do to bypass the problem or some fixes? Will the newer version of wire wil

[2019-10-17 10:05] jschaul commented on #615
thanks for the added details. Should be fixed now, let us know if that's not the case.

[2019-10-17 14:15] mwild1 commented on #631
@jschaul thanks for the update!

If you have any questions about XMPP server-to-server connections, feel free to ask (I'm a server developer with >10 years experience in this).

Meanwhile a brain dump:

# Protocol

XMPP server-to-server in a nutshell: do a DNS lookup, open a connection, authenticate using TLS, send/receive some stuff (you need to be able to accept incoming connections also, obviou

[2019-10-20 14:15] coderzstas opened #881 "Cant login from webapp"
* [x] I have seen https://docs.wire.com/ and https://github.com/wireapp/wire-server-deploy - the documentation there does not answer my question.

**My question:**

When trying to login from webapp brig giving error

I missed something on serverside configuration ? Thanks :)

[2019-10-20 14:49] coderzstas commented on #881
solved :) my bad.

[2019-10-20 14:49] #881 closed

[2019-10-20 19:09] jzallimi opened #882 "galley: user error"
* [ ] I have seen https://docs.wire.com/ and https://github.com/wireapp/wire-server-deploy - the documentation there does not answer my question.

**My question:**
when i run demo.sh
galley: user error (AesonException "Error in $.settings: When parsing the record Settings of type Galley.Options.Settings the key featureFlags was not present.")

brig: user error (AesonException "Error in $.zauth.aut

[2019-10-21 07:59] coderzstas commented on #882
Add this to galley config

featureFlags:  # see #RefConfigOptions in `/docs/reference`
    sso: disabled-by-default
    legalhold: disabled-by-default

Also need add missing configuration to brig

[2019-10-21 08:17] fisx commented on #882
thanks @coderzstas !

see also: https://github.com/wireapp/wire-server/issues/874

[2019-10-21 08:19] jzallimi commented on #882
this is my file config

galley:
  host: 127.0.0.1
  port: 8085

cassandra:
  endpoint:
    host: 127.0.0.1
    port: 9042
  keyspace: galley_test

brig:
  host: 0.0.0.0
  port: 8082

gundeck:
  host: 127.0.0.1
  port: 8086

spar:
  host: 127.0.0.1
  port: 8088

settings:
  httpPoolSize: 128
  maxTeamSize: 32
  maxConvSize: 16
  intraListing: false
  conversationCodeURI: https://app.wire.com/join/

[2019-10-21 08:21] jzallimi commented on #882
when i try from web

401 Authorization Required

On Mon, Oct 21, 2019 at 10:19 AM juljan zallimi <jzallmi@gmail.com> wrote:

[2019-10-21 08:57] fisx commented on #882
not sure if you still have a problem, and if you think it's related to the original one?  feel free to re-open, or open a new issue if that's the case.

[2019-10-21 08:57] #882 closed

[2019-10-21 09:08] jzallimi commented on #882
yes i have the same problem.

[2019-10-21 10:14] fisx commented on #882
Look at the link I posted in the duplicate issue: https://github.com/wireapp/wire-server/blob/develop/services/galley/galley.integration.yaml#L29-L31

`featureFlags` needs to be part of `settings`.

[2019-10-21 10:29] jzallimi commented on #882
Yes featureFlags is part of settings, lilke in the post. I have the same problem

[2019-10-21 10:52] jzallimi commented on #882
Thank you.
My only error now is: when i try to open the page  401 Authorization Required.

[2019-10-21 10:54] coderzstas commented on #882
I have pretty same error when i trying enter to.swagger , ignore it :) i bringed webapp and android app, and it working

[2019-10-21 13:30] jzallimi commented on #882
So i need help again,  is there any administration website for wire-server ?

[2019-10-21 13:58] fisx commented on #882
Have you read https://docs.wire.com/, https://github.com/wireapp/wire-server#wire-server, https://github.com/wireapp/wire-server-deploy#introduction?

[2019-10-21 15:09] jzallimi commented on #882
if u can help me way i cant open the wire api from web:  Authorization Required 401
thank you

[2019-10-22 15:02] coderzstas opened #886 "Big delay"
* [x] I have seen https://docs.wire.com/ and https://github.com/wireapp/wire-server-deploy - the documentation there does not answer my question.

**My question:**

Hello devs , i have a problem , very huge delay in receiving messages . Is this problem on server side or clients side ( i tested with whis server , sending messages from phone with wire-android app to pc with wire webapp).

Maybe i mi

[2019-10-22 15:50] coderzstas commented on #886
again my bad :) solved )

[2019-10-22 15:50] #886 closed

[2019-10-23 12:06] coderzstas opened #888 "cant make video and audio calls"
* [x] I have seen https://docs.wire.com/ and https://github.com/wireapp/wire-server-deploy - the documentation there does not answer my question.

**My question:**
Hello again :) I configured and running wire-server , also configured restund on machine with wire-server and another vps , when i trying to make (vide)call , there is nothing hapening :(
I have added this 2 servers to turn config files

[2019-10-23 12:21] jschaul commented on #888
Have you seen https://github.com/wireapp/wire-server-deploy/blob/develop/ansible/hosts.example.ini#L12-L16 and https://docs.wire.com/understand/restund.html ?

Make sure the config [here](https://github.com/wireapp/wire-server-deploy/blob/develop/values/wire-server/prod-values.example.yaml#L60-L64) matches the DNS names and the port numbers that restund is listening on.

There is no need to have m

[2019-10-23 12:45] coderzstas commented on #888
Thanks , but im using this server not wire-deploy

here is bit more logs from restund

also changed ips for privacy . Thanks

[2019-10-23 12:51] jschaul commented on #888
Please follow the links I posted, so you understand how `brig` and `restund` and your browser interact. We cannot provide support if you install and configure components differently to how we suggest, especially if you don't detail your setup.

[2019-10-23 13:15] jschaul commented on #888
Please fill out these sections here: https://github.com/wireapp/wire-server/blob/add-issue-template/.github/ISSUE_TEMPLATE/question-installation.md to provide context.

[2019-10-28 19:08] coderzstas commented on #888
my issue is solved , i can make calls but with very big delay :(

[2019-10-28 19:08] #888 closed

[2019-11-05 12:11] jmatsushita opened #901 "Media Server"
* [x] I have seen https://docs.wire.com/ and https://github.com/wireapp/wire-server-deploy - the documentation there does not answer my question.

**My question:**
Hi there,

Which approach would you recommend to server side audio and/or video recording? From a security standpoint it seems that making the recording service a visible participant in a conference would be best, however how to capture

[2019-11-05 12:46] arianvp commented on #803
@q3k ran into this recently too and has found the reason why this is failing.  `cql-io` seems to be using a feature from cabal 2.0 called internal libraries, which seems rather poorely supported by another other tooling but cabal.  We're trying to fix this.

[2019-11-13 12:35] jmatsushita commented on #901
@tiago-loureiro Am I correct that the legal hold service is meant to address this type of use cases? https://github.com/wireapp/wire-server/blob/develop/docs/reference/team/legalhold.md

Is there an open source implementation of a Wire legal hold service? Is it meant to spin up headless clients? I don't think there is an implementation of a headless client (a legal hold device IIUC) either? In the

[2019-11-20 13:27] arianvp commented on #901
It is indeed a way for on-premise enterprise customers to support the addition of a headless client  it is not a feature that is or will be enabled on the public cloud offering, it must always be set up by the customer themselves on their on-premise installation. This feature is not currently launched yet and is work in progress. For one; it will not help your use case in the current form, as it d

[2019-11-20 14:26] arianvp opened #913 "Do Spar things transactionally"
Right, I think this might still be worth it in this one, and should look like something in the lines of:
[code]

The main annoyance I see with this is that you will need a `Show` instance for `WrappedScimStoredUser SparTag` -> not sure how trivial it is to come up with a meaningful one.

_Originally posted by @tiago-loureiro in https://github.com/wireapp/wire-server/pull/905_

[2019-11-20 14:34] jmatsushita commented on #901
Thanks for the clarifications! So to recap where my understanding is at:
 - A properly registered recording bot would join a conversation.
 - The bot should receive a list of user_ids (https://github.com/wireapp/lithium/wiki/Data-Flow#then-be-calls-this)
 - The bot backend should then be able to get the WebRTC peer information with these user_ids? Is this done via an API call to `brig` using `clie

[2019-11-22 10:52] arianvp commented on #901
Poking @jspittka for the questions about WebRTC. I am not familiar with this side of things.

I also see you're in Berlin. Feel free to drop by the office some time actually. Maybe that's a bit more natural way to understand what you want to build on top of Wire and how we could perhaps help or assist with that. Drop me an email at arian [at] wire [dot] com and we can maybe pick a date.

[2019-11-25 16:16] stevenroose commented on #631
@mwild1, awesome post! On MUC<>MIX, personally I think that, given that the MIX standard have been proposed quite some time ago and it's slowly being developed, new federators should leverage it if it helps them to integrate.

MIX was designed because MUC doesn't fit to the modern IM experience, so eventually we should all be using MIX in the end. So a player like Wire that would have to invest a

[2019-11-29 18:57] Transisto opened #917 "Website link broken"
I didn't know where to make that issue, Thanks to whoever forward this to the right place/person.

When Clicking

![image](https://user-images.githubusercontent.com/388716/69886467-15f2d000-12b0-11ea-9b39-f29338f55a31.png)

it sends to a broken 404 link `https://wire.com/en/privacy/why/`

[2019-12-03 04:30] limengyu1990 opened #918 "about user status"
I want to know how to better determine the online status of the current user? For example, when all the users' devices are offline, the user is offline. If any device is online, the user is considered to be online.

[2019-12-03 12:51] jschaul commented on #918
Do you define "online" as "can receive a message now"?

On Wire, users are assumed to be always online. The reason is that people with iOS or Android devices rely on native push notifications to receive messages. As such, the server does not know if a person is "offline" in the sense of "push notifications cannot be delivered".

Wire makes use of two things: 1) websocket connections 2) native push

[2019-12-04 04:16] limengyu1990 commented on #918
Thank you for your answer, I understand.
we currently define: As long as there is an active websocket connection to the server, the current user is considered to be in an `online` state.

my current solution is: In the `await` method, set the user status to`online`, in the `colse` method, handle the disconnection event and set the user status to` offline`.

[2019-12-04 04:16] #918 closed

[2019-12-05 10:43] limengyu1990 opened #919 "continuous integration deployment in production environment"
I would like to ask for some deployment experience. At present, I have successfully deployed the wire-server backend service by manual mutation packaging.

my problem is that when I update some `hs` files, I want to update the server code and publish it. The current difficulty is that I have to manually copy the modified file to the server every time, and then replace it manually. At present, ther

[2019-12-11 05:48] #919 closed

[2020-01-07 10:34] ugintl opened #936 "Following installation instructions"
I am trying to find and follow the proper way of installing wire-server on my own server, but so far the information is confusing and scattered. Is it what I have to do step by  step?

1. First I go to https://github.com/wireapp/wire-server/blob/develop/README.md#1-compile-sources-natively and compile it.

2. I go here https://docs.wire.com/how-to/install/ansible-VMs.html

3. here https://docs.wir

[2020-01-07 12:03] jschaul commented on #936
Compiling (1.) is not necessary. All the code is already automatically built into public docker images.

The high-availability production installation is not fully documented yet, so you have to wait here. In the meantime, I recommend you do the following:

1. get kubernetes somehow on one machine. Search the internet for how to do this. You'll need a virtual machine / server to install this on. M

[2020-01-13 10:25] #803 closed

[2020-01-15 04:06] limengyu1990 opened #943 "redis-io"
I want to know how to set Redis connection password when using `redis-io`? thanks.

[2020-01-15 06:02] limengyu1990 commented on #943
recently, there are mining Trojans that use redis weak passwords for attacks. This risk should be fixed as soon as possible.

[2020-01-20 10:48] limengyu1990 commented on #943
I found the `Redis.auth` command which can temporarily solve my problem, but the library does not provide a function to easily set the `password`, which feels less elegant

[2020-01-20 10:48] #943 closed

[2020-01-27 13:56] mheinzel commented on #821
Is this fixed by https://github.com/wireapp/wire-server/pull/904?

[2020-01-27 15:40] fisx commented on #821
yes, thanks!

[2020-01-27 15:40] #821 closed

[2020-02-03 11:11] limengyu1990 opened #955 "Wire not support Aws Hong Kong Region(ap-east-1)"
### gundeck.yaml  config info
aws:
  queueName: im-gundeck-events
  region: ap-east-1
  account: "11111111"
  arnEnv: test
  sqsEndpoint: https://sqs.ap-east-1.amazonaws.com
  snsEndpoint: https://sns.ap-southeast-1.amazonaws.com

### error info
gundeck: user error (AesonException "Error in $.aws.region: Failed reading: Failure parsing Region from ap-east-1")

[2020-02-03 12:54] zeray-dagne opened #956 "wireweb app register Unexpected error problem.."
where is the wire server log?
after building wire server locally i got Unexpected error to register wire locally please help...

[2020-02-04 01:26] limengyu1990 commented on #876
I use the following code to enable v4 version signing, but an error occurs(upload image operation):
[code]

### error info
[code]

[2020-02-04 04:46] limengyu1990 commented on #876
[code]

[2020-02-07 08:45] limengyu1990 commented on #955
### error info(`core/src/Network/AWS/Types.hs`):
[code]

I noticed that `wire` used its own maintained` amazonka` branch and fixed 2 bugs (`important commits`).
I want to know if the `wire` team has time and plans to synchronize the`amazonka` branch of `wire` with the remote newest `amazonka` and then re-package an `archive` package? thanks.

### wire source code Comment
[code]

### amazonka
https

[2020-02-07 08:52] limengyu1990 commented on #876
I have debugged the v4 signature.

[2020-02-07 16:23] tiago-loureiro commented on #956
Hi @zeray-dagne

Can you please describe your problem in greater detail?

[2020-02-10 05:56] zeray-dagne commented on #956
i can build wire-server and wire web app locally but, the web app is not
connected to our server

On Fri, Feb 7, 2020 at 7:23 PM Tiago Manuel Ventura Loureiro <
notifications@github.com> wrote:

[2020-02-14 16:03] mheinzel commented on #955
Hi!

Getting PR https://github.com/brendanhay/amazonka/pull/493 merged and released on Hackage is the only thing keeping us from switching back to the official amazonka releases. I rebased the PR and maybe one of the maintainers will have the time to look into it, but I'm not sure.

If nothing happens with the PR next week, I'll make a new release of our updated fork.

[2020-02-17 13:58] mheinzel commented on #955
The fix got merged into amazonka and I will now merge #976, which will make us use the new version with support for the ap-east-1 region.

[2020-02-17 13:58] #955 closed

[2020-03-16 06:36] limengyu1990 opened #1016 "Gundeck Memory"
**Describe the bug**
When I run the load test tool, the server has 2 cores and 8g of memory. When 800+ people send messages, the `gundeck` memory increases a lot, and the`otr/message` interface returns `http-status 499`.
Therefore, I tried to comment out the logic of `websocket/native push`, leaving only the logic of` querying `Redis` and persistent notifications`, and then running the program aga

[2020-03-16 21:01] perfectwebtech opened #1017 "login and logout issue"
hello

i have setup done selfhosted
now issue is

when i do ssl request or normal http request

lgoin emial create user all thing working fine but

when i login then its automatially logout and then login screen apear

something 403 on  self and account logout url getting error

any help?

as well i did keep native deployment wiht one vps and single url

can u guide me or hint me ? as well

wagger

[2020-03-17 01:28] kybom opened #1018 "How to make a load test for audio/video"
* [x] I have seen https://docs.wire.com/ and https://github.com/wireapp/wire-server-deploy - the documentation there does not answer my question.

**My question:**
I want to simulate many people calls.

[2020-03-18 09:10] kybom commented on #1018
chrome handless?
I found [https://github.com/puppeteer/puppeteer](url) and [https://github.com/chromedp/chromedp](url)

[2020-03-18 12:52] fisx commented on #1016
See also: https://github.com/wireapp/wire-server/issues/715

[2020-03-18 16:22] jschaul commented on #1018
You can try using https://github.com/wearezeta/wire-avs-nwtesttool also.

[2020-03-19 14:38] perfectwebtech opened #1020 "cookie and token missing"
can help me to resovle this issue ?

login and registration works fine but

after login always getting logout and login screen apear

[brig] D, logger=cassandra.brig, Connection closed: datacenter1:rack1:127.0.0.1:9042#<socket: 19>
[brig] D, code=403, label=invalid-credentials, request=1ed222278141cf6047e8898fc8ed9ebc, "Missing cookie"
[brig] D, code=403, label=invalid-credentials, request=a76a673

[2020-03-19 14:39] #1017 closed

[2020-03-19 16:01] jschaul commented on #1020
Possibly you forgot to correctly configure the [cookieDomain](https://github.com/wireapp/wire-server-deploy/blob/develop/values/wire-server/prod-values.example.yaml#L41) in brig.

[2020-03-19 17:43] perfectwebtech commented on #1020
thanks a lot but

how i can deploy ssl with wire-webapp ?  because yarn does have ssl feature npm have ssl features

any hint or i should findout issue with wire-web only ?

[2020-03-19 17:52] jschaul commented on #1020
Use an ingress. See https://docs.wire.com/how-to/install/helm.html#how-to-direct-traffic-to-your-cluster

and https://github.com/wireapp/wire-server-deploy/tree/develop/charts/nginx-ingress-controller and https://github.com/wireapp/wire-server-deploy/tree/develop/charts/nginx-ingress-services

[2020-03-19 21:18] perfectwebtech commented on #1020
oh thanks a lot

work great but till some query i can ask you ?

like this

Firefox can’t establish a connection to the server at wss://mydomain.com:8080/await?access_token=tCEJUAquhSl-2_fkPXtkVeh5J2x44VZVKmGn9t4DAcPinSpj0NjkwTBaSK40YMBr7h4lFlLPvAyBxMilR2hlDA==.v=1.k=1.d=1584653084.t=a.l=.u=a6e6c7fe-0dbc-42c0-95b7-f67326647d49.c=3826188379425608982&client=502b820a97c9c51

getting error

websocket

[2020-03-19 21:23] perfectwebtech opened #1021 "uninitialized sanitized_request"
is it something faulty configuration more time

this lines apear with bad encoding

uninitialized sanitized_request variable while login request
is it normal or something might be problem ?

2020/03/19 22:20:17 [warn] 32101#0: *40 using uninitialized "sanitized_request" variable while logging request, client: 123.192,29.24, server:mydomain, request: "?ן????	?8:??<?P??%?M?? 1?pG:<???????P????u}!n?z

[2020-03-19 21:30] perfectwebtech commented on #1021
as well as when i access  mydomain:8080/swagger-ui/

Can't read from server. It may not have the appropriate access-control-origin settings.

these time uninitialized sanitized_request variable while ................ logs error getting always

[2020-03-20 07:54] kybom commented on #1018
The tool likes a monitor,and can't simulate calls.

[2020-03-21 01:14] #1016 closed

[2020-03-21 08:52] fisx commented on #1016
@limengyu1990 did you solve the issue?

[2020-03-25 10:42] limengyu1990 commented on #1016
I plan to optimize it, such as: avoid `Redis`, `Cassandra` calls in a loop. then use c++ version Cassandra(https://github.com/scylladb/scylla);  and use `grpc` inside the service, and use Redis to cache more data,  try to optimize the `OTR/message` interface to less than 100ms under a large number of requests.

[2020-03-25 10:45] fisx commented on #1016
Thanks for sharing!

(Even though we haven't prioritized this up enough to take action yet, your input is really helpful.)

[2020-03-25 11:24] jschaul commented on #1016
@limengyu1990 we would be very happy to take code contributions on this (you could open a PR), if you have made improvements here.

[2020-03-26 18:19] stevenroose commented on #631
@jschaul I noticed a bunch of issues and PRs related to federation. Has a decision been made on the federation protocol?

(I noticed today that Cisco Jabber's business messager also federates over XMPP with the open Jabber network!)

[2020-03-31 15:31] mimikadze opened #1033 "Docker installation process failed"
Trying to build wire server from sources via docker according to https://github.com/wireapp/wire-server#2-use-docker

**How to reproduce**
git clone git@github.com:wireapp/wire-server.git
cd wire-server
make docker-deps docker-intermediate docker-services

Output (last lines in the scope of error)
[code]

OS: Ubuntu 18.04 LTS. Tried to build on my macos 10.13 and experienced same behaviour.

[2020-04-01 08:28] perfectwebtech opened #1038 "websocket"
any additional step require for web socket deployment ?

[2020-04-02 09:45] arianvp commented on #1038
Websockets should work out of the box.

[2020-04-02 09:46] arianvp commented on #1033
Yep we changed some tags in our CI which aren't using the `Makefile`'s directly for building. I have this in my radar to fix the Makefiles

[2020-04-04 10:44] perfectwebtech commented on #1038
ssl redirect issue getting i using demo for product is it fine or using single machine  helm or kubernetes better ?

i am using demo docker one for production

as well swagger ui getting issue cross domain allow issue
i did allowed in nginx conf file but even getting some problems

else is there no auto installer shellscript all in one can install ?

i have all services compiled successfully but n

[2020-04-05 10:51] perfectwebtech opened #1044 "forgot password"
password-reset does not work

as account package does not work getting 403 nginx error due to in nginx conf file
there is no defined

password-reset rules

[2020-04-06 13:24] arianvp commented on #1020
`wss` is for `https`. if you're running on `http` you should use `ws://mydomain:8080`

[2020-04-09 04:05] limengyu1990 opened #1047 "doubts about APNS-Push conversation-mute features"
* [x] I have seen https://docs.wire.com/ and https://github.com/wireapp/wire-server-deploy - the documentation there does not answer my question.

**My question:**
Prerequisite: Use APNS push. Not VOIP, not Websocket messages.

Suppose the member `Alice`  in the conversation sets the conversation to a mute state. when receiving session information, will `Alice` have a sound reminder? If there is n

[2020-04-10 13:13] jonassmedegaard commented on #327
Debian developer here.
When needing to link with OpenSSL 1.0.x install package libssl1.0-dev, and if needing to link with OpenSSL 1.1.x install libssl-dev. Those package conflict with each other.

Linking with OpenSSL 1.0.x is deprecated and only available in Debian oldstable: https://packages.debian.org/search?keywords=libssl1.0-dev

Debian has seen updates to libssl/openssl and is now at version

[2020-04-10 13:18] jonassmedegaard commented on #327
If/when this issue is solved, please rmember to update https://github.com/wireapp/wire-server/blob/develop/docs/developer/dependencies.md

Stumbling across that note was what triggered my comments here: Obviously as proud Debian developer I cannot rest with such discouragement note in high-quality projects like this one :-)

[2020-04-11 11:51] orandev opened #1049 "Implement PUT in order to be able to update idp"
Hello,
We have the following situation:

We want to configure idp1 on our Team and create some SCIM users (production platform).
In a few months, we want to switch Team to idp2 (different URL), but we cannot afford to delete all the existing users and make them lose all their chats and content.

I see in [Spar API.hs](https://github.com/wireapp/wire-server/blob/master/services/spar/src/Spar/API.hs

[2020-04-11 20:03] fisx commented on #1049
Yes, this is work in progress.  Good to know that you are waiting for this!

We were planning to now allow changing the issuer idp, though.  We haven't given this much thought yet; the motivation was that it is more expensive to change all user records in all the places where data about their IdP identity (including the issuer) is stored.

But I can see now that this is a legitimate use case.  Do

[2020-04-12 10:35] orandev commented on #1049
No, I don't think we will be able to keep the issuer identical, the two idps won't be based on the same technology/product.
We do not mind if the operation is expensive, it's something that we (or admins in other companies) are going to use very rarely I think. And for us, we can do this operation during off-business hours and interrupt the service while the operation is running.

[2020-04-22 14:26] hardikbeladiya opened #1072 "Getting the unreachable Host for the kubenode01"
* [ ] I have seen https://docs.wire.com/ and https://github.com/wireapp/wire-server-deploy - the documentation there does not answer my question.

## My question: I followed the Step in the Documentation which is provided and I want to install the server offline using Docker Container and kubernetes but when I run this step `poetry run ansible-playbook -i hosts.ini kubernetes.yml -vv` I get the Er

[2020-04-23 14:47] fisx commented on #1049
With [this release](https://github.com/wireapp/wire-server/releases/tag/v2020-04-21), there is a way to apply the changes on the servers using curl.  Documentation on how to do this, and ultimately UI support of this feature in team settings, are still in the works.

[2020-04-28 08:53] arianvp commented on #1033
This should be fixed now. Could you have another try?

[2020-04-30 08:52] mimikadze commented on #1033
Yep, tested from fresh build, works well now!

[2020-04-30 08:52] #1033 closed

[2020-04-30 09:10] mimikadze commented on #882
Cheers,
trying to set up wire in demo mode and got an error
[code]

While feature flags looks to be enabled in `services/galley/galley.integration.yaml`
[code]

Current commit version I'm using is 5a311f8456d09c3c25dc72cbe34c078cdd68121d

Any ideas?

[2020-04-30 09:18] akshaymankar commented on #882
@mimikadze While running services-demo in docker we use [this file](https://github.com/wireapp/wire-server/blob/5a311f8456d09c3c25dc72cbe34c078cdd68121d/deploy/services-demo/conf/galley.demo-docker.yaml) as config for galley. It seems that we missed adding feature flags to this file. Can you please open a new issue for this?

[2020-04-30 09:30] mimikadze opened #1085 "Missed featureFlags options for services-demo in docker config"
According to https://github.com/wireapp/wire-server/issues/882#issuecomment-621716492 reply there is a missed featureFlags options for services-demo in docker config. Which leads to
[code]
on `$ deploy/services-demo/demo.sh docker`

Adding
[code]
to `deploy/services-demo/conf/galley.demo-docker.yaml` fixed the issue on my machine.

[2020-04-30 09:58] mimikadze commented on #1085
Next I faced the same problem in brig module.
[code]

And fixed issue the same way: added missed keys
[code]
to `deploy/services-demo/conf/brig.demo-docker.yaml`

I consider this issues close coupled, and not opening second one. Hope, this helps.